/******************/
/*   Color Vars   */
/******************/
:root {
    --main-blue:#07f;
    --main-grey:#aaa;
    --main-white:#fff;
    --main-black:#000;
    --main-grey: #333;
    --main-red:#d00;
}


/*****************/
/*   Main Grid   */
/*****************/

.main {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(20, 5vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    transition: opacity .5s;
}

.main>div {
    align-self:center;
}

.menu {
    grid-area: 1/1/3/3;
    margin: 10px auto;
    justify-self: start;
    padding-left: 3vw;
}

.menu svg {
    fill: var(--main-blue);
}

.login {
    grid-area: 1/9/3/11;
    justify-self: end;
    color: var(--main-blue);
    padding-right:3vw;
}

.siteTitle {
    grid-area: 4/1/6/11;
    justify-self: center;
    font-size: 10vw;
    color: var(--main-grey);
}

#joinButton {
    grid-area: 9/3/11/9;
}

#createButton {
    grid-area: 11/3/13/9;
    transition: opacity 1s;
}

.button {
    width: 100%;
    height: 7vh;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    color: var(--main-white);
}

.blueBtn {
    background-color: var(--main-blue);
}

.greyBtn {
    background-color: var(--main-grey);
}

.off {
    display:none !important;
}


#codeInput {
    height: 100%;
    border: 1px solid black;
    grid-area: 3/1/5/2;
    text-align: center;
}

#codeForm {
    grid-area: 12/3/14/9;
}

#codeInputGroup {
    grid-area: 11/3/17/9;
    display:grid;
    align-self: start;
    grid-template-rows: repeat(11, 2.5vh);
    transition: opacity 1s, transform 1s;
    opacity: 0%;
    transform: translateY(-10px)
}

#codeInputLabel {
    grid-area: 1/1/3/2;
    text-align: center;
    align-self: end;
}

#codeError {
    grid-area: 10/1/12/2;
    color: var(--main-red);
    align-self: start;
}

#codeSubmit {
    grid-area: 6/1/10/2;
    text-align: center;
}

/****************/
/*  Animations  */
/****************/

@keyframes shake {
    0% { transform: translate(0px, 0px) }
    20% { transform: translate(-2px, 0px) }
    40% { transform: translate(2px, 0px) }
    60% { transform: translate(-2px, 0px) }
    80% { transform: translate(2px, 0px) }
    100% { transform: translate(0px, 0px) }
  }

.shake {
    animation: shake .2s;
    animation-iteration-count: 2;
}