extends layout

block variables
  
  - var title = "The Tidy Squirrel"
  - var games = [["My Games", [['Pandemic',1], ['Betrayal at the House on the Hill',2], ['Machi Koro',3]]]["All Games",[['Codenames',4],['Game5',5],['Game6',6],['Game7',7],['Game8',8],['Game9',9],['Game10',10],['Game11',11],['Game12',12],['Game13',13]]]]
  - var gamesobj = {"My Games": {1 : "Pandemic",2: "Betrayal at the House on the Hill"},"All Games": {1: "Pandemic", 2: "Betrayal at the House on the Hill", 3: "Machi Koro"}}

block content
  | Hi There