block variables

doctype html
head
  title #{title}
  meta(charset='utf-8')
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-title" content="SelectAGame")
  meta(name="apple-mobile-web-app-status-bar-style" content="white")
  link(rel='apple-touch-icon' sizes="180x180" href='/img/apple-touch-icon.png')
  link(rel='stylesheet' href='css/normalize.css')
  link(rel='stylesheet' href='css/boilerplate.css')
  link(rel='stylesheet' href='css/main.css')
  // Fonts
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap')
  meta(name='theme-color' content='#fafafa')
  link(rel="manifest" href="manifest.json")
  script(src='js/vendor/modernizr-3.8.0.min.js')
  script(src='js/vendor/jquery-3.4.1.min.js')    
  script(src='/socket.io/socket.io.js')
  script(defer src='js/main.js')
  script(type='module' src='https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js')
  script(nomodule='' src='https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js')
  script(src="/js/vendor/localforage.min.js")
  //if IE
    p.browserupgrade
      | You are using an 
      strong outdated
      |  browser. Please 
      a(href='https://browsehappy.com/?locale=en') upgrade your browser
      |  to improve your experience and security.
body
  block content

// Footer Scripts
