/******************/
/*   Color Vars   */
/******************/
:root {
  /*--main-blue: #07f;*/
  --main-blue: #6492c7;
  --main-light-grey: #aaa;
  --main-white: #fff;
  --main-black: #000;
  --main-grey: #333;
  --main-red: #d00;
  --main-green: #5a5;
  --main-gold: #f90;
}

/*****************/
/*    General    */
/*****************/
body {
  box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.textInputCont {
  height: var(--vh5);
  text-align: center;
  position: relative;
}

.button {
  width: 100%;
  height: calc(var(--vh, 1vh) * 7);
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  color: var(--main-white);
  cursor: pointer;
  font-size: max(3.5 * (1vw + 1vh) / 2, 30px);
}

.blueBtn {
  background-color: var(--main-blue);
}

.greyBtn {
  background-color: var(--main-grey);
}

.lightGreyBtn {
  background-color: var(--main-light-grey);
}

.greenBtn {
  background-color: var(--main-green);
}

.redBtn {
  background-color: var(--main-red);
}

.bottomBtn {
  position: absolute;
  width: 80vw;
  bottom: var(--vh5);
}

.red {
  color: var(--main-red);
}

li.grey {
  color: var(--main-light-grey);
}

.off {
  display: none !important;
}

#ver {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 12px;
}

.menu.left {
  transform: translateX(-60vw);
}

.tooltip {
  opacity: 0;
  position: absolute;
  background-color: var(--main-light-grey);
  border-radius: 10px;
  padding: 2px 5px;
  left: 0;
  transform: translateX(calc(-50% + 11px));
  color: var(--main-white);
  transition: opacity 1s cubic-bezier(1, 0, 0.8, -0.1);
}

.owner {
  display: inline;
  position: relative;
}

.owner:hover .tooltip {
  opacity: 1;
}

.tooltip:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--main-light-grey) transparent;
}

.pop.showMenuItem {
  transform: translateY(0vh);
}

#accountContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, calc(var(--vh) * 7));
  color: var(--main-white);
  font-size: calc(var(--vh) * 2.5);
}

#accountEmailField {
  word-break: break-word;
}

#bggConnected {
  grid-column: 1/3;
  grid-row: 4/5;
  display: grid;
  grid-template-rows: repeat(3, calc(var(--vh) * 7));
  grid-template-columns: 1fr 1fr;
}

#accountContainer button {
  border-radius: 5px;
  border: none;
  padding-top: 4px;
  cursor: pointer;
}

.title {
  justify-self: end;
  align-self: center;
  margin-right: 20px;
  text-align: right;
}

.field {
  align-self: center;
}

.field ion-icon {
  cursor: pointer;
}

#accountImportListField input[type="text"] {
  width: 90%;
}

input#listImportSubmit {
  left: calc(95% + 8px - calc(var(--vh, 1vh) * 4));
  margin: -1px 0px 0px 0px;
}

.bggImport {
  z-index: 100;
  width: 100vw;
  height: var(--vh100);
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-blue);
  color: var(--main-white);
}

.bggImportTitle {
  width: 80vw;
  text-align: center;
  left: 10vw;
  top: var(--vh5);
  position: absolute;
  font-size: min(4 * (1vw + 1vh) / 2, 30px);
}

button.bggFilterButton {
  position: absolute;
  top: var(--vh10);
  margin: 0 auto;
  width: 40vw;
  font-size: min(4 * (1vw + 1vh) / 2, 30px);
  left: 30vw;
  border: 2px solid white;
  height: calc(var(--vh, 1vh) * 5);
}

.bggListName {
  position: absolute;
  bottom: var(--vh15);
  width: 50vw;
  left: 25vw;
  text-align: center;
}

select#bggListSelect {
  width: 100%;
  height: var(--vh5);
}

button#importBGG {
  position: absolute;
  bottom: var(--vh5);
  border: 2px solid white;
  width: 80vw;
  left: 10vw;
}

.bggFilters {
  height: var(--vh20);
  top: var(--vh15);
  position: absolute;
  width: 98vw;
  padding-top: var(--vh);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  left: 1vw;
  overflow: auto;
  border-top: 1px solid white;
  margin-top: 5px;
  border-bottom: 1px solid white;
  background-color: var(--main-blue);
  z-index: 1;
}

input.bggFilterInput[type="number"] {
  width: 3em;
  height: 1em;
  align-self: center;
}

select.bggFilterInput {
  height: 1.3em;
  max-width: 4em;
}

#bggImportList {
  list-style: none;
  width: 80vw;
  top: var(--vh20);
  position: absolute;
  left: 10vw;
  font-size: 1.3em;
  overflow: auto;
  height: var(--vh50);
}

#bggImportList label {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: baseline;
}

#bggSelectAll {
  top: calc(var(--vh20) - 20px);
  left: 10vw;
  position: absolute;
  border-bottom: 1px solid white;
  width: 80vw;
  height: 19px;
}

#faqContainer,
#aboutContainer {
  height: var(--vh70);
  width: 80vw;
  top: var(--vh15);
  left: 10vw;
  position: absolute;
  color: var(--main-white);
  overflow-y: auto;
}

#premiumContainer {
  font-size: 1em;
  color: var(--main-white);
  text-align: center;
}

#premiumContainer a {
  color: var(--main-white) !important;
}

#premiumLink {
  margin-top: 1em;
  text-decoration: underline;
}

#faqList {
  list-style: none;
}
.fq {
  font-weight: 500;
  font-size: 1.4em;
}
.fa {
  margin-left: 10px;
  margin-bottom: 1em;
}

#listIcon {
  position: absolute;
  cursor: pointer;
  background: var(--main-blue);
  border-radius: 50px;
  padding: 5px;
  color: var(--main-white);
  font-size: calc(var(--vh) * 5);
  top: var(--vh20);
  left: 2vw;
  box-shadow: 3px 3px 6px var(--main-light-grey);
  height: 1em;
}

#currentGames {
  width: 90vw;
  height: var(--vh90);
  position: absolute;
  left: 5vw;
  top: var(--vh5);
  background-color: var(--main-blue);
  z-index: 100;
  padding: var(--vh5) 2vw 2vw 2vw;
  box-sizing: border-box;
  border-radius: 7px;
  color: var(--main-white);
  font-size: calc(var(--vh, 1vh) * 3);
  overflow-y: auto;
}

#listNotify {
  background-color: var(--main-green);
  border-radius: 15px;
  color: var(--main-white);
  position: absolute;
  height: calc(var(--vh) * 3);
  min-width: calc(var(--vh) * 3);
  font-size: calc(var(--vh) * 2);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: calc(var(--vh) * -1.7);
  right: calc(var(--vh) * -1.9);
  width: auto;
  padding: 2px;
}

#listNotify span {
  align-self: center;
  margin-top: 2px;
  padding: 1px;
}

.curGameItem {
  margin-bottom: calc(var(--vh) * 1.5);
}

#curGamesClose {
  z-index: 101;
  top: calc(var(--vh5) + 10px);
  right: 10vw;
  color: var(--main-white);
}

/*****************/
/* Toggle Switch */
/*****************/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: calc(var(--vh, 1vh) * 5.6);
  height: calc(var(--vh, 1vh) * 3);
  grid-area: 1/2/2/3;
  justify-self: end;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--vh, 1vh) * 2.3);
  width: calc(var(--vh, 1vh) * 2.3);
  left: calc(var(--vh, 1vh) * 0.6);
  bottom: calc(var(--vh, 1vh) * 0.4);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--main-green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-green);
}

input:checked + .slider:before {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*****************/
/*   Main Grid   */
/*****************/

#listsContainer {
  display: none !important;
}

.main {
  display: block;
  transition: opacity 0.5s;
  width: 100%;
  height: var(--vh100);
  position: absolute;
  border: 0px;
  overflow-y: hidden;
}

#hContainer {
  display: grid;
  grid-template-columns: repeat(10, minmax(10vw, 10vw));
  grid-template-rows: repeat(2, minmax(var(--vh5), var(--vh5)));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: var(--vh10);
}

#menuIcon {
  grid-area: 1/1/3/3;
  justify-self: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

#menuIcon svg {
  fill: var(--main-blue);
}

.login {
  grid-area: 1/4/3/11;
  justify-self: end;
  align-self: center;
  color: var(--main-blue);
  padding-right: 3vw;
  font-size: max(2.5 * (1vw + 1vh) / 2, 25px);
}

.login a,
.login a:visited,
.login a:active {
  color: var(--main-blue);
}

.userNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80vw;
  align-content: flex-end;
  flex-flow: nowrap;
  align-items: center;
}

.userName,
.logout {
  overflow: hidden;
  transition: flex 0.3s ease-out;
  display: block;
}

.userName {
  overflow: hidden;
  transition: flex 0.3s ease-out;
  width: auto;
  flex-grow: 1;
  display: block;
  text-align: right;
  flex-basis: 30vw;
  white-space: nowrap;
}

.userName span {
  cursor: pointer;
}

.logout {
  flex-basis: min(15 * (1vw + 1vh) / 2, 25vw);
  flex-grow: 0;
  white-space: nowrap;
  padding-left: 1vw;
  cursor: pointer;
}

.flexCollapse {
  flex: 0;
}

.view {
  display: grid;
  grid-template-columns: repeat(10, minmax(10vw, 10vw));
  grid-template-rows: repeat(17, minmax(var(--vh5), var(--vh5)));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  top: var(--vh10);
  width: 100vw;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

.pageTitle {
  grid-area: 1/1/2/11;
  font-size: min(10 * (1vw + 1vh) / 2, 35px);
  color: var(--main-grey);
  text-align: center;
  height: 100%;
}

#homeView .pageTitle {
  grid-area: 7/1/8/11;
}

.phraseDisplay {
  grid-area: 2/1/3/11;
  justify-self: center;
  cursor: pointer;
}

#backAlert {
  color: var(--main-white);
  background-color: var(--main-blue);
  text-align: center;
  border-radius: 10px;
  font-size: 1em;
  vertical-align: middle;
  padding: 0.5em;
  position: absolute;
  width: 80vw;
  box-sizing: border-box;
  margin: 0 auto;
  top: 5px;
  right: 10vw;
  opacity: 0.8;
  transition: opacity 0.2s;
}

#backArrow ion-icon {
  color: var(--main-blue);
  position: fixed;
  font-size: 32px;
  top: var(--vh40);
  transform: translateY(-50%);
  cursor: pointer;
}

.codeDisplay {
  grid-area: 3/1/4/11;
  text-align: center;
}

/*****************/
/*   Home View   */
/*****************/

#mainImg {
  background-image: url(/img/main.svg);
  grid-area: 1/3/7/9;
  width: 100%;
  height: var(--vh30);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.subTitle {
  grid-area: 8/3/10/9;
  text-align: center;
  padding-top: 10px;
}

.subTitle p {
  margin: 0px;
}

#joinButton {
  grid-area: 12/3/14/9;
  transition: opacity 0.5s, transform 0.5s;
}

#createButton {
  grid-area: 14/3/16/9;
  transition: opacity 0.5s, transform 0.5s;
}

#codeForm {
  grid-area: 10/3/12/9;
}

#codeInputGroup {
  grid-area: 13/3/16/9;
  align-self: start;
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0%;
  transform: translateX(-100vw);
}

#codeInput {
  grid-area: 3/1/5/2;
}

#codeInputLabel {
  grid-area: 1/1/3/2;
  text-align: center;
  align-self: end;
}

.textInput {
  left: 0vw;
  top: 0px;
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 50px 0px 5px;
  z-index: 2;
}

.textInputCont input.textSubmit,
input#listImportSubmit {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  transition: background-color 0.5s;
  z-index: 3;
  cursor: pointer;
}

.textInputCont input.textSubmit.green,
input#listImportSubmit.green {
  background-color: var(--main-green);
}

.textSubmit,
.textClear,
#listImportSubmit {
  height: calc(calc(var(--vh, 1vh) * 4) - 4px);
  width: calc(calc(var(--vh, 1vh) * 4) - 4px);
  background-size: contain;
  right: 3px;
  position: absolute;
  margin-top: calc(var(--vh, 1vh) * 0.5);
  z-index: 3;
}

.textSubmit,
#listImportSubmit {
  background-image: url(../img/checkmark-circle-outline.svg);
}

#shareListButton ion-icon {
  margin-bottom: 3px;
}
#listButtonContainer .button {
  font-size: max(3.5 * (1vw + 1vh) / 2, 25px);
}

.textClear {
  background-image: url(../img/close-circle-outline.svg);
}

#codeError {
  grid-area: 9/1/11/2;
  color: var(--main-red);
  align-self: start;
  text-align: center;
}

#codeSubmit {
  grid-area: 6/1/10/2;
  text-align: center;
  margin-top: calc(var(--vh, 1vh) * 2.5);
}

/*****************/
/*   Code View   */
/*****************/

#selectButton {
  grid-area: 15/2/18/10;
}

#codeImg {
  background-image: url("/img/fox-select.svg");
  grid-area: 4/2/12/10;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#codeGroup {
  grid-area: 5/2/8/10;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: start;
  color: var(--main-white);
  cursor: pointer;
}

#code {
  font-size: calc(var(--vh, 1vh) * 7);
}

#codeTitle {
  font-size: calc(var(--vh, 1vh) * 3);
}

#codeButtons {
  grid-area: 13/3/15/9;
  height: 100%;
  width: 100%;
}

#codeButtons ion-icon {
  font-size: calc(var(--vh) * 7);
  color: var(--main-blue);
}

#codeButtons > div {
  padding: 2vw;
  box-shadow: rgb(189, 189, 189) 0px 0px 5px 0px;
}

#shareButton {
  float: left;
}

#copyButton {
  float: right;
}

#copiedAlert,
#loginAlert,
#errorAlert,
.tempAlert {
  position: absolute;
  bottom: var(--vh20);
  width: 80vw;
  left: 10vw;
  box-shadow: rgb(189, 189, 189) 0px 0px 5px 0px;
  padding: 2vw 0px;
  text-align: center;
  transition: opacity 0.5s;
  opacity: 0;
  background-color: var(--main-white);
  z-index: -1;
}

#errorAlert {
  color: var(--main-red);
  z-index: -1;
}

/*****************/
/*  Select View  */
/*****************/

#addGamesContainer {
  grid-area: 4/2/6/10;
  text-align: center;
  width: 100%;
}

#addGamesTitle {
  text-align: center;
  height: var(--vh5);
  font-size: max(3 * (1vw + 1vh) / 2, 30px);
}

#addGamesTitle .text {
  transform: translateX(10px);
  display: inline-block;
}

#addGamesTitle ion-icon {
  font-size: 20px;
  transform: translate(10px, -50%);
}

#addGamesTitle ion-icon:hover + .tooltip {
  transform: translate(calc(50vw + 50% + 79px), -19px);
  opacity: 1;
}

#addGamesTitle .tooltip {
  transform: translateX(-100vw);
  z-index: 999;
  font-size: max(1 * (1vw + 1vh), 16px);
  max-width: min(50vw, 400px);
  left: max(-50vw, -400px);
}

#hitMe {
  grid-area: 6/2/7/10;
  justify-self: center;
  width: max(35%, 100px);
  text-align: center;
  height: 70%;
  font-size: max(3 * (1vw) / 2, 20px);
}

#selectLists {
  overflow-y: scroll;
  grid-area: 7/2/15/10;
  height: 100%;
}

#selectLists li {
  min-height: var(--vh5);
  font-size: calc(var(--vh, 1vh) * 3);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 11vw 11vw;
  grid-template-rows: 1fr;
  align-items: start;
}

#selectLists .listGames,
#gamesContainer .listGames {
  grid-area: 2/1/3/4;
  white-space: nowrap;
}

#selectLists .listGames .gameName,
#gamesContainer .listGames li {
  padding-left: 5vw;
  overflow-x: hidden;
}

.listName {
  width: 100%;
  grid-area: 1/1/2/2;
  overflow-x: hidden;
  white-space: nowrap;
  min-height: 0px;
  cursor: pointer;
}

.listExpand {
  justify-self: end;
  cursor: pointer;
}

.listExpand ion-icon {
  transform: rotateX(0deg);
  transition: transform 0.5s;
}

.listExpand.expanded ion-icon {
  transform: rotateX(180deg);
}

.greenText {
  color: var(--main-green);
}

.toggle {
  grid-area: 1/3/2/4;
  justify-self: end;
}

#gameSubmit {
  grid-area: 15/2/18/10;
}

.autocomplete-items {
  position: relative;
  width: 100%;
  background: var(--main-white);
  top: calc(var(--vh) * 4);
  z-index: 1;
  border: 1px solid black;
  text-align: left;
  border-top: none;
  padding: calc(var(--vh) * 2) 5px 5px 5px;
  box-sizing: border-box;
  max-height: calc(var(--vh) * 25);
  overflow: auto;
  cursor: pointer;
}

/********************/
/* Post Select View */
/********************/

.loader {
  height: var(--vh30);
  top: var(--vh10);
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
}

#postSelectContainer,
#postVoteContainer {
  height: 100%;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: min(2.4 * (1vw + 1vh) / 2, 20px);
}

#postSelectContainer {
  grid-area: 9/2/15/10;
}

#postVoteContainer {
  grid-area: 4/2/10/10;
}

#postVoteImg {
  background-image: url(/img/post-vote.svg);
  grid-area: 13/7/15/10;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#postSelectImg {
  grid-area: 4/2/9/10;
  height: 100%;
  width: 100%;
  background-image: url(/img/post-select.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#postSelectLoadingMessage {
  top: var(--vh50);
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  font-size: 2em;
}

.connecting {
  color: var(--main-red);
}

.connecting:before,
.selecting:before,
.done:before,
.voted:before,
.voting:before {
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.connecting:before,
.selecting:before,
.voting:before {
  content: "\f09c";
}

.done:before,
.voted:before {
  content: "\f023";
}

.selecting,
.voting {
  color: var(--main-gold);
}

.done,
.voted {
  color: var(--main-green);
}

#gameLock {
  position: absolute;
  width: 80vw;
  bottom: var(--vh5);
}

/**********************/
/* postPostSelectView */
/**********************/

#gameUnlock {
  width: 10em;
  margin: 0 auto;
  height: var(--vh5);
  margin-top: calc(var(--vh) * 2);
  padding-top: 5px;
}

#addGroupGamesContainer {
  position: relative;
  top: calc(var(--vh) * 2);
  width: 60vw;
  margin: 0 auto;
}

#addGroupGamesTitle {
  width: 11em;
  margin: 0 auto;
}

#editGameList {
  margin-top: calc(var(--vh) * 5);
  overflow-y: auto;
  text-align: left;
  width: 100%;
  left: 0;
  position: relative;
}

#editGameList li {
  min-height: var(--vh5);
  font-size: calc(var(--vh, 1vh) * 3);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 11vw 11vw;
  grid-template-rows: 1fr;
  align-items: end;
  width: 100%;
}

.editGame {
  height: var(--vh5);
  width: 100%;
  grid-area: 1/1/2/2;
  overflow-x: hidden;
  white-space: nowrap;
  min-height: 0px;
  text-overflow: ellipsis;
}

.tip {
  font-style: italic;
}

#dupTip {
  top: calc(var(--vh) * 2.5);
  position: relative;
  font-size: max(2 * (1vw + 1vh) / 2, 25px);
  color: var(--main-gold);
}

.dup .greenText,
.dup {
  color: var(--main-gold);
}

/**********************/
/*      voteView      */
/**********************/

#voteContainer {
  grid-area: 4/2/18/10;
  height: 100%;
}

#voteContainer .voteList {
  margin: calc(var(--vh) * 3) 0 0 0;
  padding: 0;
  height: calc(var(--vh) * 44);
  overflow-y: auto;
}

#voteContainer .voteList .voteItem {
  list-style: none;
  width: 100%;
  height: var(--vh10);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, minmax(var(--vh5), var(--vh5)));
}

#voteInfo {
  width: 100%;
  text-align: center;
  height: var(--vh10);
  font-size: max(1.5 * (1vw + 1vh) / 2, 14px);
}

#voteButton {
  position: absolute;
  bottom: 0;
  width: 80vw;
}

.voteToolTip {
  display: inline-block;
  font-size: 0.8em;
  transform: translate(-5%, -35%);
  position: relative;
  z-index: 1;
}

.voteLabel label {
  align-self: flex-end;
  height: calc(var(--vh) * 4);
  max-width: 65vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  margin-left: 1em;
  overflow: hidden;
  cursor: pointer;
}

.voteLabel {
  width: 100%;
  text-align: center;
  font-size: calc(var(--vh) * 3.5);
  position: relative;
  z-index: 2;
}

.voteLabel:hover,
.showVoteThumb {
  z-index: 3;
}

.voteToolTip:hover .toolTipContainer,
.showVoteThumb .toolTipContainer {
  transition-delay: 0.5s;
  transform: translate(-100%, 10px);
  opacity: 1;
}

.toolTipContainer {
  vertical-align: baseline;
  position: absolute;
  transform: translateX(-100vw);
  font-size: 0.7em;
  opacity: 0;
  transition: opacity 0.5s;
  display: inline-block;
  list-style: none;
  text-align: left;
  border: 2px solid var(--main-black);
  border-radius: 5px;
  background-color: var(--main-white);
  width: 10em;
}

.showVoteThumb .voteSubX {
  display: block;
}
.voteSubX {
  position: absolute;
  right: 5px;
  top: -1px;
  cursor: pointer;
  display: none;
}

.BGGThumb img {
  max-width: 100%;
  max-height: 50px;
}

.BGGThumb {
  text-align: center;
}

.BGGDesc {
  line-height: 0.9em;
}

.voteSubTitle {
  border-bottom: 2px solid var(--main-black);
}

/***********************************************************************************/
/*                                                                                 */
/*            All this work for a pure CSS color-gradient range input              */
/* Invoke like this: <input type='range' min='1' max='1000' value='500' step='1'/> */
/*                                                                                 */
/***********************************************************************************/

input[type="range"] {
  position: relative;
  left: 50%;
  border: solid 0 transparent;
  border-width: 0 1em;
  padding: 0px;
  width: 70%;
  box-sizing: border-box;
  height: calc(var(--vh) * 2);
  border-radius: 0.25em;
  transform: translateX(-50%);
  background: transparent;
  font-size: 1em;
  cursor: pointer;
}
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  position: relative;
  width: 70vw;
  height: calc(var(--vh) * 0.8);
  background: linear-gradient(90deg, #fff 1px, transparent 1px) -1px 50%,
    linear-gradient(
      90deg,
      #e60000,
      #e6ac00,
      #e6e600,
      #cdf80b,
      #79c008,
      #50be10,
      #03961c
    );
  background-size: 12.5% 100%, 100% 100%;
}
input[type="range"]::-moz-range-track {
  width: 70vw;
  height: calc(var(--vh) * 0.8);
  background: linear-gradient(90deg, #fff 1px, transparent 1px) -1px 50%,
    linear-gradient(
      90deg,
      #e60000,
      #e6ac00,
      #e6e600,
      #cdf80b,
      #79c008,
      #50be10,
      #03961c
    );
  background-size: 12.5% 100%, 100% 100%;
}
input[type="range"]::-ms-track {
  border: none;
  width: 70vw;
  height: calc(var(--vh) * 0.8);
  background: linear-gradient(90deg, #fff 1px, transparent 1px) -1px 50%,
    linear-gradient(
      90deg,
      #e60000,
      #e6ac00,
      #e6e600,
      #cdf80b,
      #79c008,
      #50be10,
      #03961c
    );
  background-size: 12.5% 100%, 100% 100%;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  display: none;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: calc(var(--vh) * -0.7);
  box-sizing: border-box;
  border: solid 1px transparent;
  width: calc(var(--vh) * 3);
  height: calc(var(--vh) * 3);
  border-radius: 0;
  transform: translateY(75%) rotate(45deg);
  background: linear-gradient(135deg, #a7a6a2 25%, transparent 25%) content-box,
    linear-gradient(135deg, #fff 25%, transparent 25%) border-box;
}
input[type="range"]::-moz-range-thumb {
  box-sizing: border-box;
  border: solid 1px transparent;
  width: calc(var(--vh) * 3);
  height: calc(var(--vh) * 3);
  border-radius: 0;
  transform: translateY(75%) rotate(45deg);
  background: linear-gradient(135deg, #a7a6a2 25%, transparent 25%) content-box,
    linear-gradient(135deg, #fff 25%, transparent 25%) border-box;
}
input[type="range"]::-ms-thumb {
  box-sizing: border-box;
  border: solid 1px transparent;
  width: calc(var(--vh) * 3);
  height: calc(var(--vh) * 3);
  border-radius: 0;
  transform: translateY(75%) rotate(45deg);
  background: linear-gradient(135deg, #a7a6a2 25%, transparent 25%) content-box,
    linear-gradient(135deg, #fff 25%, transparent 25%) border-box;
}
input[type="range"]::-webkit-slider-runnable-track:before,
input[type="range"] /deep/ #track:before,
input[type="range"]::-webkit-slider-runnable-track:after,
input[type="range"] /deep/ #track:after {
  position: absolute;
  bottom: 100%;
  color: #2c2c2b;
  font: 700 0.875em / 2 arial, sans-serif;
}
input[type="range"]::-webkit-slider-runnable-track:before,
input[type="range"] /deep/ #track:before {
  left: 0.8125em;
  word-spacing: 1.4375em;
  content: "1 2 3 4 5 6 7 8 9";
}
input[type="range"]::-webkit-slider-runnable-track:after,
input[type="range"] /deep/ #track:after {
  right: 0.625em;
  word-spacing: 0.875em;
  content: "10 11 12 13 14 15 16";
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  width: 0.7em;
  height: 90%;
  z-index: 99;
}
input[type="range"]:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  width: 0.7em;
  height: 90%;
  z-index: 99;
}

/******************/
/*    PlayView    */
/******************/

#playInfo {
  text-align: center;
  font-size: max(1.5 * (1vw + 1vh) / 2, 20px);
  grid-area: 4/2/18/10;
  height: 100%;
}

#playContainer {
  grid-area: 7/2/15/10;
  height: 100%;
  overflow-y: auto;
}

.playGame {
  min-height: var(--vh5);
  font-size: calc(var(--vh, 1vh) * 3);
  width: 100%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.playGame .weight {
  vertical-align: baseline;
  position: absolute;
  transform: translateX(-100vw);
  font-size: 0.7em;
  opacity: 0;
  transition: opacity 0.5s;
  display: inline-block;
  list-style: none;
  text-align: left;
  border: 2px solid var(--main-black);
  border-radius: 5px;
  background-color: var(--main-white);
  z-index: 2;
}

.playGameTitle {
  max-width: 90%;
  overflow: hidden;
  margin-left: 5%;
  text-overflow: ellipsis;
  display: inline-block;
}

.playGameToolTip {
  display: inline-block;
  font-size: 0.8em;
  transform: translate(-5%, -55%);
  position: relative;
  z-index: 1;
}

.playSubTitle {
  border-bottom: 2px solid var(--main-black);
}

.playGameToolTip:hover .weight {
  opacity: 1;
  transition-delay: 0.5s;
  transform: translate(-100%, 10px);
}

.playGameToolTip:hover {
  z-index: 3;
}

.playGame.showWeight .weight {
  opacity: 1;
}

#playImg {
  background-image: url(/img/play.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 15/2/18/10;
  width: 100%;
  height: 100%;
}

/*****************/
/* Sessions View */
/*****************/

.pop {
  position: absolute;
  width: 100vw;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
  background-color: var(--main-blue);
  padding-top: var(--vh5);
  height: var(--vh100);
  top: 0px;
  transform: translateY(100vh);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 10;
}

.pop .closeButton {
  color: var(--main-white);
}

.pop .pageTitle {
  height: var(--vh10);
  color: var(--main-white);
}

#sessionsContainer {
  overflow-y: auto;
  top: var(--vh15);
  height: calc(var(--vh) * 85);
}

#addListContainer {
  grid-area: 4/2/6/10;
  text-align: center;
  width: 100%;
}

#addListContainer .textInputCont {
  width: 80vw;
  margin: 0vw auto 5vw auto;
}

#addListTitle {
  text-align: center;
  align-self: end;
  height: var(--vh5);
  color: var(--main-white);
  font-size: max(3 * (1vw + 1vh) / 2, 30px);
}

#gamesContainer {
  height: var(--vh60);
  overflow-y: auto;
}

.sessionNote {
  color: var(--main-white);
  margin-top: -1.3em;
  margin-left: 7vw;
  margin-bottom: 1.3em;
}

#sessionsContainer li,
#gamesContainer > li,
#gamesContainer .listGames {
  color: var(--main-white);
  list-style: none;
  padding-left: 5vw;
  font-size: 1em;
  cursor: pointer;
  padding-bottom: calc(var(--vh) * 3);
  display: flex;
}

#gamesContainer > li {
  min-height: var(--vh5);
  font-size: calc(var(--vh, 1vh) * 3);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-rows: 1fr;
  align-items: start;
}

#sessionsContainer > li {
  display: grid;
  grid-template-columns: 90% 10%;
}

.sessionCode,
.sessionDetails {
  grid-column: 1/2;
}

.sessionEdit {
  grid-row: 1/3;
  grid-column: 2/3;
  align-self: center;
  font-size: calc(var(--vh, 1vh) * 3);
}

.listName ion-icon {
  margin-bottom: -0.3em;
  margin-left: -0.2em;
}

#gamesContainer .listExpand {
  justify-self: start;
}

ion-icon#addListButton {
  color: var(--main-white);
  position: absolute;
  width: 16vw;
  align-content: start;
  font-size: var(--vh10);
  bottom: var(--vh5);
  cursor: pointer;
  transition: transform 0.5s;
  z-index: 1;
  margin-left: 42vw;
}

#gamesAdderContainer {
  height: var(--vh20);
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: var(--main-blue);
}

.gamesAdder {
  transition: transform 0.5s, opacity 0.5s;
}

.gamesAdder {
  color: var(--main-white);
  position: absolute;
  bottom: var(--vh20);
  width: 50vw;
  text-align: center;
  font-size: 7vw;
  display: flex;
  justify-content: center;
  background-color: var(--main-blue);
  padding: 2.5vw 0vw;
  cursor: pointer;
}

.gamesAdder div {
  border: 3px solid white;
  padding: 8px 5px 5px;
  width: 25vw;
  height: 20vw;
  border-radius: 12px;
  align-items: center;
  align-self: center;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.gamesAdder:nth-child(1) {
  left: 50vw;
}

#menuAddListContainer,
#menuAddGamesContainer {
  position: absolute;
  bottom: var(--vh30);
  width: 80vw;
  left: 10vw;
  transition: transform 0.5s, opacity 0.5s;
}

#menuAddListTitle,
#menuAddGamesTitle {
  color: white;
  text-align: center;
  font-size: 2em;
}

#backgroundListButton {
  color: var(--main-white);
  position: absolute;
  width: 100vw;
  align-content: start;
  font-size: var(--vh10);
  bottom: var(--vh5);
  transition: transform 0.5s;
  z-index: -1;
}

.rotated {
  transform: rotate(45deg);
}

.slideDown {
  transform: translateY(var(--vh10));
  opacity: 0;
}

.menuGamesContainer {
  display: flex;
}

.menuGamesContainer ion-icon {
  flex: 0 0 30px;
}

#gamesContainer .menuGamesContainer .listName {
  overflow-x: hidden;
  white-space: nowrap;
  min-height: 0px;
  cursor: pointer;
  flex-grow: 20;
  padding-left: 20px;
}

/*****************/
/*    Testing    */
/*****************/
#centerbutton {
  grid-area: 6/1/8/11;
  justify-self: center;
  font-size: 1.5em;
  background: var(--main-blue);
  padding: 10px 25px;
  color: var(--main-white);
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
}

#gamenum {
  grid-area: 8/1/9/11;
  justify-self: center;
  font-size: 1.5em;
}

/*****************/
/*  Mobile Menu  */
/*****************/

#menu {
  background-color: var(--main-blue);
}

.menu {
  width: 60vw;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--main-white);
  transform: translateX(0vw);
  transition: transform 0.5s;
}

.menu a {
  color: var(--main-white) !important;
}

#menu .menuHomeIcon {
  cursor: pointer;
  border: 2px solid white;
  border-radius: 100px;
  position: absolute;
  padding: 11px;
  background-size: auto calc(var(--vh) * 5);
}

.menuHomeIcon {
  font-size: calc(var(--vh) * 4);
  top: 10px;
  left: 2vw;
  width: calc(var(--vh) * 4);
  height: calc(var(--vh) * 4);
  padding: 0px;
  background-image: url(/img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: inline-block;
  border: none;
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
}

.closeButton ion-icon {
  height: 30px;
  width: 30px;
  --ionicon-stroke-width: 48px;
  cursor: pointer;
}

#menuImg {
  background-image: url(/img/menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 60vw;
  height: 60vw;
  position: absolute;
  bottom: 0px;
}

.itemContainer {
  margin-top: calc(var(--vh, 1vh) * 10);
  font-size: 1.3em;
}

.itemContainer ul {
  list-style-type: none;
  padding-left: 5vw;
}

.itemContainer ul li {
  margin-top: calc(var(--vh, 1vh) * 2);
  cursor: pointer;
}

.itemContainer ul li .i-manage,
.itemContainer ul li .i-account,
.itemContainer ul li .i-about,
.itemContainer ul li .i-premium {
  background-image: url("../img/close-circle-outline.svg");
  height: 20px;
  width: 20px;
  background-size: contain;
  display: inline-block;
  transform: translateY(4px);
}

.itemContainer ul li ion-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  transform: translateY(4px);
}

.i-faq svg * {
  stroke: white !important;
}

.clickCatcher {
  top: 0px;
  width: 40vw;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  left: 60vw;
  z-index: 999;
}

#logoutItem form {
  display: inline;
}

#logoutItem form button {
  color: var(--main-white);
  background-color: #0000;
  border: none;
  padding: 0px;
  cursor: pointer;
}

/***********************/
/*  Game Context Manu  */
/***********************/

.contextMenu {
  color: white;
}

.contextMenu ul {
  list-style: none;
}

.contextActions {
  border: 1px solid white;
  padding: 5vw 5vw 15vw 5vw;
  width: 100vw;
  background-color: white;
  color: var(--main-grey);
  font-size: 6vw;
  position: absolute;
  bottom: 0px;
  z-index: 200;
  list-style: none;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 0px;
  transition: transform 0.5s;
  transform: translateY(calc(var(--vh) * -200));
}

.contextActions li {
  cursor: pointer;
}

.contextActions .bggLink {
  color: var(--main-light-grey);
}

.contextActions .bggLink a {
  color: var(--main-grey);
}

.contextTitle {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--main-black);
}

#gamesContainer .listGames .contextActions li {
  padding-left: 0px;
}

.subContextContainer {
  width: 100vw;
  height: var(--vh100);
  position: absolute;
  backdrop-filter: blur(3px);
  z-index: 11;
}

.subContext,
.subContextRename,
.subContextDelete,
.subContextRemove,
.subContextAccount,
.subContextImport {
  margin-left: 0;
  background-color: white;
  position: absolute;
  border-radius: 12px;
  padding: 15px;
  left: 5vw;
  width: 90vw;
  top: calc(var(--vh) * 2);
  box-sizing: border-box;
  font-size: 1.5em;
}

.subContext {
  height: calc(var(--vh) * 96);
}

.subContextRename,
.subContextDelete,
.subContextRemove,
.subContextImport {
  height: auto;
  padding-bottom: calc(var(--vh) * 2);
  border: solid 2px var(--main-blue);
}

.subContextDelete .button,
.subContextRemove .button,
.subContextImport .button {
  width: 40%;
  margin: 0.4em 5% 0px;
  float: left;
  height: var(--vh5);
}

.subContextContainer hr {
  margin: var(--vh);
}

.subContextTitle {
  line-height: 30px;
  margin-right: 30px;
  word-break: break-word;
}

.subContext li {
  list-style: none;
  cursor: pointer;
}

#contextShadow {
  backdrop-filter: blur(3px);
  width: 100vw;
  height: var(--vh100);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.listTitle {
  position: fixed;
  transform: translateX(200vw);
  transition: transform 0.5s;
  width: 100%;
  left: 0px;
  top: var(--vh15);
  height: var(--vh15);
  text-align: center;
  background-color: var(--main-blue);
  z-index: 1;
  color: var(--main-white);
  font-size: calc(var(--vh, 1vh) * 3);
}

.listTitle ion-icon {
  position: absolute;
  top: calc(var(--vh) * 0.5);
  left: 7vw;
  cursor: pointer;
}

.listTitleText {
  cursor: pointer;
}

.listContents {
  transition: transform 0.5s;
  transform: translateX(200vh);
  top: var(--vh20);
  position: absolute;
  width: 100vw;
  left: 0vw;
  height: var(--vh75);
  overflow-y: auto;
  backdrop-filter: blur(3px);
  padding: calc(var(--vh) * 3);
  background: var(--main-blue);
  z-index: 3;
  box-sizing: border-box;
  font-size: calc(var(--vh, 1vh) * 3);
  color: var(--main-white);
  list-style: none;
}

.displayGameContainer {
  width: 100%;
  grid-template-columns: 40px 1fr 50px;
  max-width: 100vw;
  grid-template-rows: var(--vh10);
  display: grid;
}

.displayGameContainer li {
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  width: 100%;
  text-overflow: ellipsis;
}

.displayGameContainer ion-icon {
  justify-self: end;
  cursor: pointer;
}

.sprite {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 30px;
  width: 30px;
  border-radius: 999px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.flipped {
  transform: rotateY(180deg);
}

.spriteCell {
  height: 100%;
  width: 100%;
}

.spriteChecked {
  transform: rotateY(-180deg);
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  font-size: 25px;
}
.spriteUnchecked {
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

.listContents.slideUp.bulkShowing {
  transform: translateX(0px) translateY(calc(var(--vh) * 7));
}

.bulkSelect {
  width: 96vw;
  bottom: calc(var(--vh) * 73);
  height: calc(var(--vh, 1vh) * 7);
  background-color: var(--main-white);
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: 10vw 1fr 10vw 10vw 10vw 10vw;
  align-items: center;
  justify-items: end;
  padding: 0px 2vw;
}

.bulkSelect ion-icon {
  font-size: calc(var(--vh, 1vh) * 3);
  cursor: pointer;
}

.bulkSelect ion-icon[name="square-outline"],
.bulkSelect ion-icon[name="checkbox-outline"] {
  justify-self: center;
}

.listContents li {
  cursor: pointer;
}

.listContents.slideUp,
.listTitle.slideUp,
.contextActions.slideUp,
.slideUp {
  transform: translateX(0px);
}

/****************/
/*  Animations  */
/****************/

@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-2px, 0px);
  }
  40% {
    transform: translate(2px, 0px);
  }
  60% {
    transform: translate(-2px, 0px);
  }
  80% {
    transform: translate(2px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.shake {
  animation: shake 0.2s;
  animation-iteration-count: 2;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  position: fixed;
  top: calc(var(--vh10) - 25px);
  left: calc(10vw - 25px);
  z-index: 99;
}

/*****************************/
/*    Mobile Media Queries   */
/*****************************/
@media (max-width: 400px) {
  #codeButtons ion-icon {
    font-size: var(--vh5);
  }
}

/*****************************/
/*        Desktop CSS        */
/*****************************/
@media (min-width: 1000px) {
  .desktopAlwaysOff {
    display: none !important;
  }
  .menu {
    width: 250px;
    transform: translateX(0vh);
  }
  .menu.off {
    display: block !important;
  }
  #menuIcon {
    display: none;
  }
  #menuClose {
    display: none;
  }
  .menuHomeIcon {
    left: 25px;
  }
  #menuImg {
    width: 100%;
    height: 250px;
  }
  #faqContainer,
  #aboutContainer,
  #premiumContainer {
    width: 96%;
    left: 2%;
  }
  #copiedAlert,
  #loginAlert,
  .tempAlert {
    width: 500px;
    left: calc(50% + 125px);
    transform: translateX(-50%);
  }
  #listIcon {
    left: calc(50% - 250px);
  }
  .itemContainer ul {
    padding-left: 25px;
  }
  .view {
    left: calc(calc(100% - 1000px) / 2);
    width: 750px;
    margin-left: 250px;
    grid-template-columns: repeat(10, 10%);
  }
  .button {
    max-width: 250px;
    margin: 0 auto;
    font-size: 24px;
  }
  .bottomBtn {
    left: 50%;
    transform: translateX(-50%);
  }
  .menu.left {
    transform: translateX(0vh);
  }

  .textInput {
    font-size: 24px;
  }

  #gamesContainer > li,
  #gamesContainer .listGames {
    padding-left: 0px;
  }

  #sessionsContainer li {
    padding-left: 10px;
  }

  #gamesContainer li,
  #sessionsContainer li {
    font-size: 20px;
  }

  #shareButton {
    display: none;
  }
  #copyButton {
    float: none;
    width: var(--vh5);
    height: var(--vh5);
    margin: 0 auto;
  }
  #codeButtons {
    height: 100%;
    width: 100%;
  }
  #codeButtons > div {
    padding: calc(var(--vh) * 2.5);
  }
  #codeButtons ion-icon {
    font-size: var(--vh5);
  }
  #selectLists li {
    grid-template-columns: 1fr 30px 70px;
  }

  #editGameList li {
    grid-template-columns: 1fr 1px 70px;
  }

  #addGroupGamesContainer {
    width: 60%;
  }

  .displayGameContainer {
    grid-template-rows: var(--vh5);
    max-width: 400px;
  }

  .itemContainer {
    font-size: 24px;
  }

  .pageTitle#playTitle {
    font-size: max(3 * (1vw + 1vh) / 2, 30px);
  }

  .pageTitle {
    font-size: 36px;
  }

  .pop {
    transform: translateY(0);
    transform: translateX(calc(var(--vh100) * -1));
    width: 401px;
    left: 249px;
  }

  .preloader {
    left: unset;
    right: 50px;
  }

  .showMenuItem {
    transform: translateX(0vh);
  }

  .listTitle ion-icon {
    left: 10px;
  }

  .contextActions {
    padding: 10px 10px 31px 10px;
    width: 380px;
    left: 260px;
    font-size: 20px;
    top: 4%;
    height: 200px;
    border-radius: 15px;
  }

  .subContextContainer {
    z-index: 100;
  }

  .subContext,
  .subContextRename,
  .subContextDelete,
  .subContextRemove,
  .subContextAccount,
  .subContextImport {
    left: 10px;
    width: 630px;
    padding: 15px;
  }

  .subContextDelete .button,
  .subContextRemove .button,
  .subContextImport .button {
    padding: 6px 0px;
  }

  ion-icon#addListButton {
    z-index: 250;
    width: 110px;
    z-index: 201;
    margin-left: 0px;
    left: 145px;
  }

  .listContents {
    padding: 5px;
    width: 400px;
    height: var(--vh60);
  }

  #gamesAdderContainer {
    height: var(--vh20);
  }

  .gamesAdder div {
    height: 75px;
  }

  .gamesAdder {
    font-size: 25px;
    width: 100px;
    left: 0px;
    padding: 20px 67px 0px;
    z-index: 2;
  }

  .gamesAdder:nth-child(1) {
    left: 167px;
  }

  #menuAddListContainer,
  #menuAddGamesContainer {
    width: 80%;
    left: 10%;
    z-index: 2;
  }

  #backArrow ion-icon {
    left: 255px;
    padding-right: 100px;
    height: var(--vh10);
    top: var(--vh5);
  }

  #backArrow ion-icon:after {
    content: "Back";
    position: absolute;
    font-size: 32px;
    height: 38px;
    width: 168px;
    color: var(--main-blue);
    left: 40px;
    top: var(--vh5);
    transform: translateY(-50%);
  }

  .bggImport {
    width: 651px;
  }

  .bggImportTitle {
    font-size: 30px;
    width: 80%;
    left: 10%;
  }

  #bggImportList,
  #bggSelectAll {
    width: 50%;
    left: 25%;
  }

  .bggListName {
    position: absolute;
    bottom: var(--vh15);
    width: 250px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }

  button#importBGG {
    left: 50%;
    transform: translateX(-50%);
  }

  button.bggFilterButton {
    position: absolute;
    top: calc(var(--vh) * 11);
    font-size: 18px;
    left: 50%;
    border: 2px solid white;
    height: calc(var(--vh, 1vh) * 4);
    transform: translateX(-50%);
    width: 125px;
  }

  .bggFilters {
    width: 90%;
    left: 5%;
  }

  .codeDisplay {
    font-size: 28px;
  }

  #postSelectContainer,
  #postVoteContainer {
    font-size: 28px;
  }

  .bulkSelect {
    width: calc(100% - 11px);
    grid-template-columns: 30px 1fr 40px 40px 40px 40px;
    justify-items: center;
    padding: 0px 5px;
  }

  #currentGames {
    width: 400px;
    height: calc(var(--vh) * 98);
    left: 260px;
    top: var(--vh);
    font-size: calc(var(--vh, 1vh) * 2.5);
  }

  #curGamesClose {
    top: calc(var(--vh) * 2);
    left: 615px;
  }

  #addGamesTitle ion-icon:hover + .tooltip {
    transform: translate(calc(50% + 457px), -19px);
  }
}
