/******************/
/*   Color Vars   */
/******************/
:root {
  /*--main-blue: #07f;*/
  --main-blue: #6492c7;
  --main-light-grey: #aaa;
  --main-white: #fff;
  --main-black: #000;
  --main-grey: #333;
  --main-red: #d00;
  --main-green: #5a5;
  --main-gold: #f90;
  --font-base: 20px;
  --font-h1: min(2.2rem, var(--vh4));
  --font-h2: min(1.7rem, var(--vh3));
  --font-h3: 1.2rem;
  --font-h4: 1rem;
  --font-p: 1rem;
  --font-b: min(1.6rem, 8vw);
  --font-5vh: var(--vh4);
  --font-sub: 12px;
}

/*****************/
/*    General    */
/*****************/
body {
  box-sizing: border-box;
  font-size: calc((var(--vh) + 1vw) / 2);
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

button {
  all: unset;
}

h1 {
  font-weight: normal;
}

.clickable {
  cursor: pointer;
}

.textInputCont {
  height: 100%;
  text-align: center;
  position: relative;
  min-height: var(--vh5);
}

.button {
  width: 100%;
  height: calc(var(--vh, 1vh) * 7);
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: var(--main-white);
  cursor: pointer;
  font-size: var(--font-b);
}

.blueBtn {
  background-color: var(--main-blue);
}

.greyBtn {
  background-color: var(--main-grey);
}

.lightGreyBtn {
  background-color: var(--main-light-grey);
}

.greenBtn {
  background-color: var(--main-green);
}

.redBtn {
  background-color: var(--main-red);
}

.bottomBtn {
  position: absolute;
  width: 80vw;
  bottom: var(--vh5);
}

.red {
  color: var(--main-red);
}

.tempAlert.red {
  border: 4px solid var(--main-red);
}

li.grey {
  color: var(--main-light-grey);
}

.off {
  display: none !important;
}

#ver {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: var(--font-sub);
}

.menu.left {
  transform: translateX(-75vw);
}

.tooltip {
  opacity: 0;
  position: absolute;
  background-color: var(--main-light-grey);
  border-radius: 10px;
  padding: 2px 5px;
  transform: translateX(-31%);
  color: var(--main-white);
  transition: opacity 1s cubic-bezier(1, 0, 0.8, -0.1);
}

.owner {
  display: inline-block;
  transform: translateY(-0.5em);
  text-align: center;
  width: auto;
}

.owner:hover .tooltip {
  opacity: 1;
}

.tooltip:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--main-light-grey) transparent;
}

.pop.showMenuItem {
  transform: translateY(0vh);
}

#accountContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5, calc(var(--vh) * 7));
  color: var(--main-white);
  font-size: var(--font-p);
}

#accountEmailField {
  word-break: break-word;
}

#bggConnected {
  grid-column: 1/3;
  grid-row: 5/6;
  display: grid;
  grid-template-rows: repeat(3, calc(var(--vh) * 7));
  grid-template-columns: 1fr 1fr;
}

#accountContainer button {
  border-radius: 5px;
  border: none;
  padding-top: 4px;
  cursor: pointer;
}

.title {
  justify-self: end;
  align-self: center;
  margin-right: 20px;
  text-align: right;
}

.field {
  align-self: center;
}

.field ion-icon {
  cursor: pointer;
}

#accountImportListField input[type="text"] {
  width: 90%;
}

input#listImportSubmit {
  left: calc(95% + 8px - calc(var(--vh, 1vh) * 4));
  margin: -1px 0px 0px 0px;
}

.bggImport {
  z-index: 100;
  width: 100vw;
  height: var(--vh100);
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-blue);
  color: var(--main-white);
}

.bggImportTitle {
  width: 80vw;
  text-align: center;
  left: 10vw;
  top: var(--vh5);
  position: absolute;
  font-size: var(--font-h2);
}

button.bggFilterButton {
  position: absolute;
  top: var(--vh10);
  margin: 0 auto;
  width: 40vw;
  font-size: var(--font-h3);
  left: 30vw;
  border: 2px solid white;
  height: var(--vh5);
}

.bggListName {
  position: absolute;
  bottom: var(--vh15);
  width: 50vw;
  left: 25vw;
  text-align: center;
  font-size: var(--font-h4);
}

select#bggListSelect {
  width: 100%;
  height: var(--vh5);
}

button#importBGG {
  position: absolute;
  bottom: var(--vh5);
  border: 2px solid white;
  width: 80vw;
  left: 10vw;
}

.bggFilters {
  height: auto;
  top: var(--vh15);
  position: absolute;
  width: calc(100vw - 20px);
  left: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  gap: 10px;
  overflow: auto;
  border-top: 1px solid white;
  margin-top: 10px;
  border-bottom: 1px solid white;
  background-color: var(--main-white);
  z-index: 1;
  font-size: var(--font-p);
  color: var(--main-black);
  box-sizing: border-box;
  border-radius: 10px;
}

input.bggFilterInput[type="number"] {
  width: 3em;
  height: 1em;
  align-self: center;
}

select.bggFilterInput {
  height: 1.3em;
  max-width: 4em;
}

#bggImportList {
  list-style: none;
  width: 80vw;
  top: var(--vh20);
  position: absolute;
  left: 10vw;
  font-size: var(--font-h3);
  overflow: auto;
  height: var(--vh50);
  border: 1px solid var(--main-white);
  padding: 10px;
  border-radius: 12px;
  box-sizing: border-box;
}

#bggImportList label {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: baseline;
}

#bggSelectAll {
  top: calc(var(--vh20) - 20px);
  left: 10vw;
  position: absolute;
  width: 80vw;
  height: 19px;
}

#faqContainer,
#aboutContainer {
  height: var(--vh70);
  width: 80vw;
  top: var(--vh15);
  left: 10vw;
  position: absolute;
  color: var(--main-white);
  overflow-y: auto;
}

#premiumContainer {
  color: var(--main-white);
  text-align: center;
  padding: 0px 15px;
}

#premiumContainer ul {
  text-align: left;
}

#premiumContainer a {
  color: var(--main-white) !important;
}

#premiumLink {
  margin-top: 1em;
  text-decoration: underline;
}

#faqList {
  list-style: none;
}
.faqq {
  font-weight: 500;
  font-size: var(--font-h2);
  line-height: 1;
}
.faqa {
  margin-left: 10px;
  margin-bottom: 1em;
  font-size: var(--font-p);
}

#listIcon {
  position: absolute;
  cursor: pointer;
  background: var(--main-blue);
  border-radius: 50px;
  padding: 5px;
  color: var(--main-white);
  font-size: var(--font-5vh);
  top: var(--vh20);
  left: 2vw;
  box-shadow: 3px 3px 6px var(--main-light-grey);
  height: 1em;
}

.listPopupPreview {
  white-space: nowrap;
}

#currentGames {
  width: 90vw;
  height: var(--vh90);
  position: absolute;
  left: 5vw;
  top: var(--vh5);
  background-color: var(--main-blue);
  z-index: 100;
  padding: var(--vh5) 2vw 2vw 2vw;
  box-sizing: border-box;
  border-radius: 7px;
  color: var(--main-white);
  font-size: var(--font-h3);
  overflow-y: auto;
}

#listNotify {
  background-color: var(--main-green);
  border-radius: 15px;
  color: var(--main-white);
  position: absolute;
  height: calc(var(--vh) * 3);
  min-width: calc(var(--vh) * 3);
  font-size: var(--font-p);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: calc(var(--vh) * -1.7);
  right: calc(var(--vh) * -1.9);
  width: auto;
  padding: 2px;
}

#listNotify span {
  align-self: center;
  margin-top: 2px;
  padding: 1px;
}

.curGameItem {
  margin-bottom: calc(var(--vh) * 1.5);
}

.curGameItem a {
  color: var(--main-white);
}

#curGamesClose {
  z-index: 101;
  top: calc(var(--vh5) + 10px);
  right: 10vw;
  color: var(--main-white);
}

/*****************/
/* Toggle Switch */
/*****************/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: calc(var(--vh, 1vh) * 5.6);
  height: calc(var(--vh, 1vh) * 3);
  grid-area: 1/2/2/3;
  justify-self: end;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--vh, 1vh) * 2.3);
  width: calc(var(--vh, 1vh) * 2.3);
  left: calc(var(--vh, 1vh) * 0.6);
  bottom: calc(var(--vh, 1vh) * 0.4);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--main-green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-green);
}

input:checked + .slider:before {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*****************/
/*   Main Grid   */
/*****************/

#listsContainer {
  display: none !important;
}

.main {
  display: block;
  transition: opacity 0.5s;
  width: 100%;
  height: var(--vh100);
  position: absolute;
  border: 0px;
  overflow-y: hidden;
}

#hContainer {
  display: grid;
  grid-template-columns: repeat(10, minmax(10vw, 10vw));
  grid-template-rows: repeat(2, minmax(var(--vh5), var(--vh5)));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: var(--vh10);
}

#menuIcon {
  grid-area: 1/1/3/3;
  justify-self: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

#menuIcon svg {
  fill: var(--main-blue);
}

.login {
  grid-area: 1/4/3/11;
  justify-self: end;
  align-self: center;
  color: var(--main-blue);
  padding-right: 3vw;
  font-size: var(--font-h2);
}

.login a,
.login a:visited,
.login a:active {
  color: var(--main-blue);
}

.userNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80vw;
  align-content: flex-end;
  flex-flow: nowrap;
  align-items: center;
}

.userName,
.logout {
  overflow: hidden;
  transition: flex 0.3s ease-out;
  display: block;
}

.userName {
  overflow: hidden;
  transition: flex 0.3s ease-out;
  width: auto;
  flex-grow: 1;
  display: block;
  text-align: right;
  flex-basis: 30vw;
  white-space: nowrap;
}

.userName span {
  cursor: pointer;
}

.logout {
  flex-basis: min(15 * (1vw + 1vh) / 2, 25vw);
  flex-grow: 0;
  white-space: nowrap;
  padding-left: 1vw;
  cursor: pointer;
}

.flexCollapse {
  flex: 0;
}

.view {
  display: grid;
  grid-template-columns: repeat(10, minmax(10vw, 10vw));
  grid-template-rows: repeat(17, minmax(var(--vh5), var(--vh5)));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  top: var(--vh10);
  width: 100vw;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

.pageTitle {
  grid-area: 1/1/2/11;
  font-size: var(--font-h1);
  font-weight: normal !important; /*min(10 * (1vw + 1vh) / 2, 4vh);*/
  color: var(--main-grey);
  text-align: center;
  height: 100%;
}

#homeView .pageTitle {
  grid-area: 7/1/8/11;
}

.sessionInfoDisplay {
  grid-area: 2/1/4/11;
  height: 100%;
  justify-items: center;
  font-size: var(--font-h4);
}

.phraseDisplay {
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: var(--font-h4);
  max-height: 1em;
  white-space: nowrap;
  display: block;
  padding: 2.5px;
  box-sizing: border-box;
}

.phraseDisplay ion-icon {
  display: inline-block;
  transform: translateY(-0.5em);
}

.phraseText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100% - 4em);
  text-align: center;
}

#qrDisplay {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  justify-self: center;
}

#qrDisplayContainer {
  width: 250px;
  height: auto;
  z-index: 101;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 12px;
  border: 3px solid var(--main-blue);
  background-color: white;
  display: grid;
  align-content: center;
  grid-template-rows: 200px 1fr;
  text-align: center;
  justify-content: center;
}

#qrText {
  font-size: var(--font-h1);
}

#backArrow ion-icon {
  color: var(--main-blue);
  position: fixed;
  font-size: var(--font-h1);
  top: var(--vh40);
  transform: translateY(-50%);
  cursor: pointer;
}

#backHome {
  transform: translate(32px, -2px);
  position: absolute;
}

#backHome ion-icon:first-child {
  transform: translate(-32px, calc(-50% + 2px));
}

.codeDisplay {
  height: var(--font-h4);
  text-align: center;
  cursor: pointer;
  padding: 2.5px;
}

/*****************/
/*   Home View   */
/*****************/

#mainImg {
  /*background-image: url(/img/main.svg);*/
  grid-area: 1/4/7/8;
  width: var(--vh30);
  height: calc(var(--vh30) - 1px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: calc(calc(100% - var(--vh30)) / 2);
}

.subTitle {
  grid-area: 8/2/11/10;
  height: 100%;
  text-align: center;
  padding-top: 25px;
  line-height: 1.1em;
  font-size: var(--font-h3);
}

.subTitle p {
  margin: 0px;
}

#joinButton {
  grid-area: 11/3/13/9;
  transition: opacity 0.5s, transform 0.5s;
}

#createButton {
  grid-area: 13/3/15/9;
  transition: opacity 0.5s, transform 0.5s;
}

#codeForm {
  grid-area: 10/3/12/9;
}

#codeInputGroup {
  grid-area: 11/3/15/9;
  align-self: start;
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0%;
  transform: translateX(-100vw);
}

#codeInputLabel {
  text-align: center;
  align-self: end;
  height: calc(1em + 5px);
  font-size: var(--font-h3);
}

.textInput {
  left: 0vw;
  top: 0px;
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  height: var(--vh5);
  box-sizing: border-box;
  width: 100%;
  padding: 0px 50px 0px 5px;
  z-index: 2;
  font-size: var(--font-p);
}

.textInputCont input.textSubmit,
input#listImportSubmit {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  transition: background-color 0.5s;
  z-index: 3;
  cursor: pointer;
}

#addGameList {
  margin-top: calc(var(--vh5) + 10px);
  max-width: calc(100% - 13em);
}

.textInputCont input.textSubmit.green,
input#listImportSubmit.green {
  background-color: var(--main-green);
}

.textSubmit,
.textClear,
.filterClear,
#listImportSubmit {
  height: calc(calc(var(--vh, 1vh) * 5) - 4px);
  width: calc(calc(var(--vh, 1vh) * 5) - 4px);
  background-size: contain;
  right: 3px;
  position: absolute;
  margin-top: calc(var(--vh, 1vh) * 0.5);
  z-index: 3;
  cursor: pointer;
}

.textSubmit,
#listImportSubmit {
  background-image: url(../img/checkmark-circle-outline.svg);
}

#shareListButton ion-icon {
  margin-bottom: 3px;
}

.textClear {
  background-image: url(../img/close-circle-outline.svg);
}

#codeError {
  grid-area: 9/1/11/2;
  color: var(--main-red);
  align-self: start;
  text-align: center;
}

#codeSubmit {
  margin-top: calc(calc(var(--vh) * 7.5) - 1em - 5px);
}

.listImportError,
.firstSessionError {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding: 5px;
  background: var(--main-white);
  border-radius: 6px;
  z-index: 102;
}

.listImportError {
  width: min(90%, 250px);
}

.firstSessionError {
  width: min(90%, 400px);
}

.listImportErrorMsg,
.firstSessionErrorMsg {
  height: var(--vh20);
  padding: calc(var(--vh) * 2);
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  width: 100%;
  font-size: var(--font-h3);
}

.listImportCatch,
.firstSessionCatch {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 100;
  position: absolute;
}

.firstSessionErrorMsg ion-icon {
  background-color: var(--main-blue);
  border-radius: 12px;
  padding: 3px;
  transform: translateY(0.4em);
  color: var(--main-white);
}

#importDuplicate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.importContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subContextImport .importContainer .button {
  width: 180px;
  margin: 0.4em 5% 0px;
  height: var(--vh5);
  padding: 4px 0px 2px 0px;
}

/*****************/
/*   Code View   */
/*****************/

#selectButton {
  grid-area: 15/2/18/10;
}

#codeImg {
  background-image: url("/img/fox-select.svg");
  grid-area: 4/2/12/10;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#codeGroup {
  grid-area: 5/2/8/10;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: start;
  color: var(--main-white);
  cursor: pointer;
}

#code {
  font-size: var(--font-h1);
}

#codeTitle {
  font-size: var(--font-h2);
}

#codeButtons {
  grid-area: 13/3/15/9;
  height: 100%;
  width: 100%;
}

#codeButtons ion-icon {
  font-size: var(--font-h1);
  color: var(--main-blue);
}

#codeButtons > button {
  padding: calc(var(--vh) * 2);
  box-shadow: rgb(189, 189, 189) 0px 0px 5px 0px;
  display: flex;
}

#shareButton {
  float: left;
}

#copyButton {
  float: right;
}

#copiedAlert,
#loginAlert,
#errorAlert,
.tempAlert {
  position: absolute;
  bottom: var(--vh20);
  width: 80vw;
  left: 10vw;
  font-size: var(--font-h1);
  box-shadow: rgb(189, 189, 189) 0px 0px 5px 0px;
  padding: 2vw 0px;
  text-align: center;
  transition: opacity 0.5s;
  opacity: 0;
  background-color: var(--main-white);
  z-index: -1;
  border: 4px solid var(--main-green);
  border-radius: 5px;
}

#errorAlert {
  color: var(--main-red);
  z-index: -1;
}

/*****************/
/*  Select View  */
/*****************/

#addGamesContainer {
  grid-area: 4/2/6/10;
  text-align: center;
  width: 100%;
}

#addGamesTitle {
  text-align: center;
  height: auto;
  font-size: var(--font-h2);
}

#addGamesTitle .text {
  transform: translateX(5px);
  display: inline-block;
}
#addGamesTitle #addGamesTooltipContainer {
  display: inline-block;
  margin-left: 5px;
  transform: translateY(-5px);
  position: relative;
  z-index: 4;
}

#addGamesTitle ion-icon {
  font-size: var(--font-h3);
  vertical-align: top;
}

#addGamesTitle ion-icon:hover + .tooltip {
  transform: translateX(calc(50% - 2.5px));
  opacity: 1;
}

#addGamesTitle .tooltip {
  transform: translateX(-100vw);
  z-index: 999;
  font-size: var(--font-p);
  max-width: min(50vw, 400px);
  left: max(-50vw, -400px);
}

#hitMeContainer {
  grid-area: 6/2/7/10;
  display: block;
  text-align: center;
}

#hitMeContainer #hitMe {
  width: calc(var(--vh) * 20);
  height: 70%;
  font-size: var(--font-p);
  padding-top: 1px;
  display: inline-block;
}

#hitMeContainer #hitMeToolTip {
  display: inline-block;
  text-align: center;
  font-size: var(--font-p);
}

#hitMeToolTip .tooltip {
  transform: translateX(-100vw);
  z-index: 999;
}

#hitMeToolTip:hover .tooltip {
  transform: translateX(calc(-50% + 7.5px));
  opacity: 1;
}

#selectFilter {
  grid-area: 6/2/7/3;
  justify-self: start;
  align-self: end;
  font-size: var(--font-p);
}

#selectFilter ion-icon {
  cursor: pointer;
}

#selectFilterListContainer {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
  z-index: 100;
  position: absolute;
}

#selectFilterItems {
  width: min(90vw, 500px);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 35px 15px 15px 15px;
  background-color: var(--main-blue);
  border-radius: 12px;
  box-sizing: border-box;
  justify-items: center;
  display: grid;
  grid-template-columns: 100%;
  z-index: 101;
}

#selectFilterList {
  height: auto;
  width: 100%;
  z-index: 2;
  color: var(--main-white);
  font-size: var(--font-h3);
}

#selectFilterList label {
  padding-right: 10px;
}

#selectNumPlayers {
  width: 2em;
  vertical-align: middle;
}

#selectFilterList .filterSubmit,
#selectFilterList .filterClear {
  background-color: transparent;
  border: none;
  margin: 10px 0px 0px 0px;
  position: relative;
  right: 0px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
  width: min(8em, 95%);
  height: 1.8em;
  border: 1px solid white;
}

#selectFilterItems .closeButton ion-icon {
  color: var(--main-white);
}

#selectFilterList .filterSubmit {
  background-color: var(--main-green);
}

#selectFilterList .filterClear {
  background-color: var(--main-red);
}

#selectFilterList input[type="checkbox"] {
  width: 1em;
  height: 1em;
}

#selectFilterRowTwo {
  font-size: var(--font-p);
  display: grid;
  grid-template-columns: 1fr 2em;
  align-items: center;
}

#selectFilterRowThree {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.selectFilterRow {
  margin-top: 6px;
  width: 100%;
  display: table;
  position: relative;
  margin: 6px auto 0px;
  text-align: center;
}

.filterActive {
  color: var(--main-red);
}

#selectLists {
  overflow-y: scroll;
  grid-area: 7/2/15/10;
  height: 100%;
}

#selectLists li {
  min-height: var(--vh5);
  font-size: var(--font-h3);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 11vw 11vw;
  grid-template-rows: 1fr;
  align-items: center;
}

#selectLists .listGames,
#gamesContainer .listGames {
  grid-area: 2/1/3/4;
  white-space: nowrap;
}

#selectLists .listGames .gameName,
#gamesContainer .listGames li {
  padding-left: 5vw;
  overflow-x: hidden;
}

.listName {
  width: 100%;
  grid-area: 1/1/2/2;
  overflow-x: hidden;
  white-space: nowrap;
  min-height: 0px;
  cursor: pointer;
}

.listExpand {
  justify-self: end;
  cursor: pointer;
}

.listExpand ion-icon {
  transform: rotateX(0deg);
  transition: transform 0.5s;
}

.listExpand.expanded ion-icon {
  transform: rotateX(180deg);
}

.greenText {
  color: var(--main-green);
}

.toggle {
  grid-area: 1/3/2/4;
  justify-self: end;
}

#gameSubmit {
  grid-area: 15/2/18/10;
}

.autocomplete-items {
  position: absolute;
  width: 100%;
  background: var(--main-white);
  top: calc(var(--vh) * 4);
  z-index: 1;
  border: 1px solid black;
  text-align: left;
  border-top: none;
  padding: calc(var(--vh) * 2) 5px 5px 5px;
  box-sizing: border-box;
  max-height: calc(var(--vh) * 25);
  overflow: auto;
  cursor: pointer;
  font-size: var(--font-p);
}

.autocomplete-active {
  border: 1px solid var(--main-gold);
}

/********************/
/* Post Select View */
/********************/

.loader {
  height: var(--vh30);
  top: var(--vh10);
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
}

#postSelectContainer {
  grid-area: 8/2/18/10;
  font-size: var(--font-h3);
  height: 100%;
  text-align: center;
  align-self: start;
  padding-top: 5px;
  position: relative;
  overflow-y: auto;
}

#postSelectIntro {
  grid-area: 8/2/10/10;
  padding-bottom: 1em;
}

#postVoteContainer {
  grid-area: 4/2/10/10;
}

#postVoteImg {
  background-image: url(/img/post-vote.svg);
  grid-area: 13/7/15/10;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#postSelectImg {
  grid-area: 4/2/8/10;
  height: 100%;
  width: 100%;
  background-image: url(/img/post-select.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.connecting {
  color: var(--main-green);
}

.connecting:before,
.selecting:before,
.done:before,
.voted:before,
.voting:before {
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.connecting:before,
.selecting:before,
.voting:before {
  content: " ";
  background-image: url("/img/unlock.svg");
  background-size: contain;
  width: var(--font-p);
  height: var(--font-p);
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(-1rem, 2px);
}

.done:before,
.voted:before {
  content: " ";
  background-image: url("/img/lock.svg");
  background-size: contain;
  width: var(--font-p);
  height: var(--font-p);
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(-1rem, 2px);
}

.selecting,
.voting {
  color: var(--main-gold);
}

.done,
.voted {
  color: var(--main-green);
}

#gameLock {
  position: absolute;
  width: 80vw;
  bottom: var(--vh5);
}

/**********************/
/* postPostSelectView */
/**********************/

#gameUnlock {
  width: 10em;
  margin: 0 auto;
  height: var(--vh5);
  margin-top: calc(var(--vh) * 2);
  padding-top: 5px;
}

#addGroupGamesContainer {
  position: relative;
  top: calc(var(--vh) * 2);
  width: 60vw;
  margin: 0 auto;
}

#addGroupGamesTitle {
  width: 11em;
  margin: 0 auto;
  font-size: var(--font-h3);
}

#editGameList {
  margin-top: calc(var(--vh) * 5);
  overflow-y: auto;
  text-align: left;
  width: 100%;
  left: 0;
  position: relative;
  height: calc(var(--vh) * 30);
}

#postSelectContainer .bottomBtn {
  bottom: 0px;
}

#editGameList li {
  min-height: var(--vh5);
  font-size: var(--font-h3);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 11vw 11vw;
  grid-template-rows: 1fr;
  align-items: end;
  width: 100%;
}

.editGame {
  height: var(--vh5);
  width: 100%;
  grid-area: 1/1/2/2;
  overflow-x: hidden;
  white-space: nowrap;
  min-height: 0px;
  text-overflow: ellipsis;
}

.tip {
  font-style: italic;
}

#dupTip {
  top: calc(var(--vh) * 2.5);
  position: relative;
  font-size: var(--font-h3);
  color: var(--main-gold);
}

.dup .greenText,
.dup {
  color: var(--main-gold);
}

/**********************/
/*      voteView      */
/**********************/

#voteContainer {
  grid-area: 4/2/18/10;
  height: 100%;
}

#voteContainer .voteList {
  margin: calc(var(--vh) * 2) 0 0 0;
  padding: 1rem 0 0 0;
  height: calc(var(--vh) * 44);
  overflow-y: auto;
}

#voteContainer .voteList .voteItem {
  list-style: none;
  width: 100%;
  height: var(--vh10);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, minmax(var(--vh5), var(--vh5)));
}

#voteInfo {
  width: 100%;
  text-align: center;
  height: var(--vh10);
  font-size: var(--font-sub);
}

#voteButton {
  position: absolute;
  bottom: 0;
  width: 80vw;
}

.voteToolTip {
  display: inline-block;
  font-size: var(--font-p);
  transform: translate(-5%, -100%);
  position: relative;
  z-index: 1;
}

.voteToolTip ion-icon {
  cursor: pointer;
}

.voteLabel label {
  align-self: flex-end;
  height: calc(var(--vh) * 4);
  max-width: calc(60vw - 1em);
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  margin-left: 0.8em;
  overflow: hidden;
  cursor: pointer;
}

.voteLabel {
  width: 100%;
  text-align: center;
  font-size: var(--font-h2);
  position: relative;
  z-index: 2;
}

.showVoteThumb {
  z-index: 3;
}

/*.voteToolTip:hover .toolTipContainer,*/
.showVoteThumb .toolTipContainer {
  transform: translate(calc(-100% + 31px + 1em), 0px);
}

.toolTipContainer.showToolTip:before {
  width: 10px;
  height: 10px;
  content: "";
  position: absolute;
  bottom: calc(100% - 6px);
  right: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: black black transparent transparent;
  transform: rotate(-45deg);
  background-color: white;
}

.toolTipContainer.showToolTip {
  opacity: 1;
  box-shadow: 3px 3px 6px var(--main-light-grey);
}

.toolTipContainer {
  vertical-align: baseline;
  position: absolute;
  transform: translateX(-100vw) scaleY(0);
  font-size: var(--font-p);
  opacity: 0;
  transition: opacity 0.25s;
  display: inline-block;
  list-style: none;
  text-align: left;
  border: 2px solid var(--main-black);
  border-radius: 5px;
  background-color: var(--main-white);
  width: 14rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto /*var(--vh30)*/;
  gap: 1px 1px;
  grid-template-areas:
    "title"
    "description";
  padding: 4px;
}

.showVoteThumb .voteSubX {
  display: block;
}

.voteSubX {
  position: absolute;
  right: 5px;
  top: -1px;
  cursor: pointer;
  display: none;
}

.BGGThumb img {
  max-width: 100%;
  max-height: 100%;
}

.BGGThumb {
  text-align: center;
  grid-area: image;
  width: calc(var(--font-p) * 4.5);
  height: calc(var(--font-p) * 4.5);
  float: left;
  margin: 0px 5px 2px 5px;
  display: block;
}

.BGGDesc {
  line-height: 1.1em;
  grid-area: description;
  padding-top: 5px;
  height: 100%;
  box-sizing: border-box;
}

.voteSubTitle {
  border-bottom: 2px solid var(--main-black);
  width: 100%;
  grid-area: title;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  box-sizing: border-box;
  font-size: var(--font-h3);
}

.BGGDescText {
  height: 100%;
  position: relative;
  line-height: 1.2em;
}

.BGGDescText a {
  width: 100%;
  display: inline-block;
}

#postVoteContainer {
  height: 100%;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: var(--font-h3);
}

/***********************************************************************************/
/*                                                                                 */
/*            All this work for a pure CSS color-gradient range input              */
/* Invoke like this: <input type='range' min='1' max='1000' value='500' step='1'/> */
/*                                                                                 */
/***********************************************************************************/

input[type="range"] {
  position: relative;
  left: 50%;
  border: solid 0 transparent;
  border-width: 0 1em;
  padding: 0px;
  width: 70%;
  box-sizing: border-box;
  height: calc(var(--vh) * 2);
  border-radius: 0.25em;
  transform: translateX(-50%);
  background: transparent;
  cursor: pointer;
}
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  position: relative;
  width: 70vw;
  height: calc(var(--vh) * 0.8);
  background: linear-gradient(90deg, #fff 1px, transparent 1px) -1px 50%,
    linear-gradient(
      90deg,
      #e60000,
      #e6ac00,
      #e6e600,
      #cdf80b,
      #79c008,
      #50be10,
      #03961c
    );
  background-size: 12.5% 100%, 100% 100%;
}
input[type="range"]::-moz-range-track {
  width: 70vw;
  height: calc(var(--vh) * 0.8);
  background: linear-gradient(90deg, #fff 1px, transparent 1px) -1px 50%,
    linear-gradient(
      90deg,
      #e60000,
      #e6ac00,
      #e6e600,
      #cdf80b,
      #79c008,
      #50be10,
      #03961c
    );
  background-size: 12.5% 100%, 100% 100%;
}
input[type="range"]::-ms-track {
  border: none;
  width: 70vw;
  height: calc(var(--vh) * 0.8);
  background: linear-gradient(90deg, #fff 1px, transparent 1px) -1px 50%,
    linear-gradient(
      90deg,
      #e60000,
      #e6ac00,
      #e6e600,
      #cdf80b,
      #79c008,
      #50be10,
      #03961c
    );
  background-size: 12.5% 100%, 100% 100%;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  display: none;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: calc(var(--vh) * -0.7);
  box-sizing: border-box;
  border: solid 1px transparent;
  width: calc(var(--vh) * 3);
  height: calc(var(--vh) * 3);
  border-radius: 0;
  transform: translateY(75%) rotate(45deg);
  background: linear-gradient(135deg, #a7a6a2 25%, transparent 25%) content-box,
    linear-gradient(135deg, #fff 25%, transparent 25%) border-box;
}
input[type="range"]::-moz-range-thumb {
  box-sizing: border-box;
  border: solid 1px transparent;
  width: calc(var(--vh) * 3);
  height: calc(var(--vh) * 3);
  border-radius: 0;
  transform: translateY(75%) rotate(45deg);
  background: linear-gradient(135deg, #a7a6a2 25%, transparent 25%) content-box,
    linear-gradient(135deg, #fff 25%, transparent 25%) border-box;
}
input[type="range"]::-ms-thumb {
  box-sizing: border-box;
  border: solid 1px transparent;
  width: calc(var(--vh) * 3);
  height: calc(var(--vh) * 3);
  border-radius: 0;
  transform: translateY(75%) rotate(45deg);
  background: linear-gradient(135deg, #a7a6a2 25%, transparent 25%) content-box,
    linear-gradient(135deg, #fff 25%, transparent 25%) border-box;
}
input[type="range"]::-webkit-slider-runnable-track:before,
input[type="range"] /deep/ #track:before,
input[type="range"]::-webkit-slider-runnable-track:after,
input[type="range"] /deep/ #track:after {
  position: absolute;
  bottom: 100%;
  color: #2c2c2b;
  font: 700 0.875em / 2 arial, sans-serif;
}
input[type="range"]::-webkit-slider-runnable-track:before,
input[type="range"] /deep/ #track:before {
  left: 0.8125em;
  word-spacing: 1.4375em;
  content: "1 2 3 4 5 6 7 8 9";
}
input[type="range"]::-webkit-slider-runnable-track:after,
input[type="range"] /deep/ #track:after {
  right: 0.625em;
  word-spacing: 0.875em;
  content: "10 11 12 13 14 15 16";
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  width: 0.7em;
  height: 90%;
  z-index: 99;
}
input[type="range"]:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  width: 0.7em;
  height: 90%;
  z-index: 99;
}

/******************/
/*    PlayView    */
/******************/

#playInfo {
  text-align: center;
  font-size: var(--font-p);
  grid-area: 4/2/6/10;
  height: 100%;
}

#playContainer {
  grid-area: 7/2/14/10;
  height: 100%;
  overflow-y: auto;
}

.playGame {
  min-height: var(--vh5);
  font-size: var(--font-h3);
  width: calc(100% - 4.8em);
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  position: relative;
  left: 2.4em;
}

.playGameTitle {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.playSubTitle {
  border-bottom: 2px solid var(--main-black);
}

#playButtons button {
  height: min(31px, calc(var(--vh) * 6), 100%);
  width: 5em;
  margin: 0 10px;
  padding: 0px 2vw;
}

#playButtons {
  grid-area: 14/2/14/10;
  display: flex;
  justify-content: center;
}

#playImg {
  background-image: url(/img/play.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 15/2/18/10;
  width: 100%;
  height: 100%;
}

.playBGGLink.showBGGLink {
  height: calc(1em + 8px);
}

.playBGGLink.showBGGLink a {
  color: var(--main-white);
  margin-top: 2px;
  display: inline-block;
}

.playBGGLink {
  display: block;
  transition: height 0.5s;
  height: 0px;
  overflow: hidden;
  color: var(--main-black);
  font-size: var(--font-h3);
  width: 8em;
  margin: -0.7em 0px 0.7em calc(50% - 4em);
}

.playGame:hover .voteWeight {
  opacity: 1;
}

.voteWeight {
  position: absolute;
  display: inline-block;
  font-size: 0.7em;
  transform: translateY(-0.2em);
  transition: opacity 0.25s;
  opacity: 0;
}

/*****************/
/* Sessions View */
/*****************/

.pop {
  position: absolute;
  width: 100vw;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
  background-color: var(--main-blue);
  padding-top: var(--vh5);
  height: var(--vh100);
  top: 0px;
  transform: translateY(100vh);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 10;
  font-size: var(--font-p);
}

.pop .closeButton {
  color: var(--main-white);
}

.pop .pageTitle {
  height: var(--vh10);
  color: var(--main-white);
}

.pop .pageTitle#sessionsTitle {
  height: var(--vh5);
}

#sessionsInfo {
  color: var(--main-white);
  width: 80%;
  height: var(--vh10);
  margin: 0 auto;
  text-align: center;
}

#sessionsInfo a {
  cursor: pointer;
}

#sessionsContainer {
  overflow-y: auto;
  height: calc(var(--vh) * 75);
  transform: translateY(calc(var(--vh) * 7));
  padding-top: calc(var(--vh) * 3);
  background-color: var(--main-blue);
  z-index: 5;
  position: relative;
  transition: transform 0.2s;
}

#addListContainer {
  grid-area: 4/2/6/10;
  text-align: center;
  width: 100%;
}

#addListContainer .textInputCont {
  width: 80vw;
  margin: 0vw auto 5vw auto;
}

/*#addListTitle {
  text-align: center;
  align-self: end;
  height: var(--vh5);
  color: var(--main-white);
  font-size: max(3 * (1vw + 1vh) / 2, 30px);
}*/

#gamesContainer {
  height: var(--vh80);
  overflow-y: auto;
  width: 97%;
}

.sessionNote {
  color: var(--main-white);
  margin-top: -1.3em;
  margin-left: 7vw;
  margin-bottom: 1.3em;
}

#sessionsContainer li,
#gamesContainer > li,
#gamesContainer .listGames {
  color: var(--main-white);
  list-style: none;
  padding-left: 5vw;
  cursor: pointer;
  padding-bottom: calc(var(--vh) * 3);
  display: flex;
}

#gamesContainer > li {
  min-height: var(--vh5);
  font-size: var(--font-h2);
  list-style: none;
  display: grid;
  grid-template-columns: calc(92vw - 60px) 40px;
  grid-template-rows: 1fr;
  align-items: start;
}

#sessionsView .bulkSelect {
  bottom: unset;
  top: var(--vh20);
  grid-template-columns: 10vw 1fr 10vw 10vw;
}

#sessionsView input[type="checkbox"] {
  cursor: pointer;
  height: 1em;
  width: 90%;
}

#sessionsView .bulkSelect ion-icon {
  justify-self: center;
}

#sessionsContainer > li {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  width: 95%;
  box-sizing: border-box;
}

.sessionsCheck {
  grid-area: 1/1/4/2;
}

.sessionTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sessionCode,
.sessionDetails {
  grid-column: 2/3;
}

.sessionEdit {
  grid-row: 1/3;
  grid-column: 3/4;
  align-self: center;
  font-size: var(--font-h2);
}

.listName ion-icon {
  margin-bottom: -0.3em;
  margin-left: -0.2em;
}

#gamesContainer .listExpand {
  justify-self: start;
}

#addListButton {
  color: var(--main-grey);
  background-color: var(--main-white);
  position: absolute;
  width: min(15vw, calc(var(--vh10)));
  height: min(15vw, calc(var(--vh10)));
  font-size: min(15vw, calc(var(--vh10)));
  align-content: start;
  bottom: calc(var(--vh5) + 8px);
  cursor: pointer;
  transition: transform 0.5s;
  z-index: 1;
  margin-left: 5vw;
  box-shadow: 3px 3px 6px var(--main-black);
  border-radius: 48px;
  background-image: url("/img/plus.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

#gamesContainer > li:last-child {
  margin-bottom: min(15vw, calc(var(--vh10)));
}
/*
#gamesAdderContainer {
  height: var(--vh20);
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: var(--main-blue);
}

.gamesAdder {
  transition: transform 0.5s, opacity 0.5s;
}

.gamesAdder {
  color: var(--main-white);
  position: absolute;
  bottom: var(--vh20);
  width: 50vw;
  text-align: center;
  font-size: 7vw;
  display: flex;
  justify-content: center;
  background-color: var(--main-blue);
  padding: 2.5vw 0vw;
  cursor: pointer;
}

.gamesAdder div {
  border: 3px solid white;
  padding: 8px 5px 5px;
  width: 25vw;
  height: 20vw;
  border-radius: 12px;
  align-items: center;
  align-self: center;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.gamesAdder:nth-child(1) {
  left: 50vw;
}

#menuAddListContainer,
#menuAddGamesContainer {
  position: absolute;
  bottom: var(--vh30);
  width: 80vw;
  left: 10vw;
  transition: transform 0.5s, opacity 0.5s;
}

#menuAddListTitle,
#menuAddGamesTitle {
  color: white;
  text-align: center;
  font-size: 2em;
}

#backgroundListButton {
  color: var(--main-white);
  position: absolute;
  width: 100vw;
  align-content: start;
  font-size: var(--vh10);
  bottom: var(--vh5);
  transition: transform 0.5s;
  z-index: -1;
}

.rotated {
  transform: rotate(45deg);
}
*/
.slideDown {
  transform: translateY(var(--vh10));
  opacity: 0;
}

.menuGamesContainer {
  display: flex;
}

.menuGamesContainer ion-icon {
  flex: 0 0 30px;
}

#gamesContainer .menuGamesContainer .listName {
  overflow-x: hidden;
  white-space: nowrap;
  min-height: 0px;
  cursor: pointer;
  flex-grow: 20;
  padding-left: 20px;
  text-overflow: ellipsis;
}

/*****************/
/*    Testing    */
/*****************/
/*#centerbutton {
  grid-area: 6/1/8/11;
  justify-self: center;
  font-size: 1.5em;
  background: var(--main-blue);
  padding: 10px 25px;
  color: var(--main-white);
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
}

#gamenum {
  grid-area: 8/1/9/11;
  justify-self: center;
  font-size: 1.5em;
}
*/
/*****************/
/*  Mobile Menu  */
/*****************/

#menu {
  background-color: var(--main-blue);
}

.menu {
  width: 75vw;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--main-white);
  transform: translateX(0vw);
  transition: transform 0.5s;
  font-size: var(--font-p);
}

.menu a {
  color: var(--main-white) !important;
}

#menu .menuHomeIcon {
  cursor: pointer;
  border: 2px solid white;
  border-radius: 100px;
  position: absolute;
  padding: 11px;
  background-size: auto calc(var(--vh) * 5);
  top: 10px;
}

.menuHomeIcon {
  left: 5px;
  width: calc(var(--vh) * 4);
  height: calc(var(--vh) * 4);
  padding: 0px;
  background-image: url(/img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: inline-block;
  border: none;
}

.menuHomeIcon.crown1 {
  background-image: url(/img/logo-crown1.svg);
}
.menuHomeIcon.crown2 {
  background-image: url(/img/logo-crown2.svg);
}
.menuHomeIcon.crown3 {
  background-image: url(/img/logo-crown3.svg);
}
.menuHomeIcon.crown4 {
  background-image: url(/img/logo-crown4.svg);
}
.menuHomeIcon.crown5 {
  background-image: url(/img/logo-crown5.svg);
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
}

.closeButton ion-icon {
  height: 30px;
  width: 30px;
  --ionicon-stroke-width: 48px;
  cursor: pointer;
}

#menuImg {
  background-image: url(/img/menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  z-index: -1;
}

.itemContainer {
  margin-top: calc(calc(var(--vh) * 4) + 36px);
  font-size: var(--font-h2);
}

.itemContainer ul {
  list-style-type: none;
  padding-left: 5vw;
}

.itemContainer ul li {
  cursor: pointer;
  text-shadow: -1px 1px 0 var(--main-blue), 1px 1px 0 var(--main-blue),
    1px -1px 0 var(--main-blue), -1px -1px 0 var(--main-blue),
    -2px 2px 3px var(--main-blue);
}

.itemContainer ul li .i-manage,
.itemContainer ul li .i-account,
.itemContainer ul li .i-about,
.itemContainer ul li .i-premium {
  background-image: url("../img/close-circle-outline.svg");
  height: 20px;
  width: 20px;
  background-size: contain;
  display: inline-block;
  transform: translateY(4px);
}

.itemContainer ul li ion-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  transform: translateY(4px);
  background: var(--main-blue);
  border-radius: 20px;
  padding: 3px;
}

.i-faq svg * {
  stroke: white !important;
}

.clickCatcher {
  top: 0px;
  width: 40vw;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  right: 0;
  z-index: 999;
}

#logoutItem form {
  display: inline;
}

#logoutItem form button {
  color: var(--main-white);
  background-color: #0000;
  border: none;
  padding: 0px;
  cursor: pointer;
}

/***********************/
/*  Game Context Manu  */
/***********************/

.contextMenu {
  color: white;
}

.contextMenu ul {
  list-style: none;
}

.contextActions {
  border: 1px solid white;
  padding: 5vw 5vw 15vw 5vw;
  width: 100vw;
  background-color: white;
  color: var(--main-grey);
  font-size: var(--font-h2);
  position: absolute;
  bottom: 0px;
  z-index: 200;
  list-style: none;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 0px;
  transition: transform 0.5s;
  transform: translateY(calc(var(--vh) * -200));
}

.contextActions li {
  cursor: pointer;
}

.contextActions .bggLink {
  color: var(--main-light-grey);
}

.contextActions .bggLink a {
  color: var(--main-grey);
}

.contextTitle {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--main-black);
}

#gamesContainer .listGames .contextActions li {
  padding-left: 0px;
}

.subContextContainer {
  width: 100vw;
  height: var(--vh100);
  position: absolute;
  backdrop-filter: blur(3px);
  z-index: 11;
  font-size: var(--font-p);
}

.subContext,
.subContextRename,
.subContextDelete,
.subContextRemove,
.subContextAccount,
.subContextImport,
.subContextImportSession {
  margin-left: 0;
  background-color: white;
  position: absolute;
  border-radius: 12px;
  padding: 15px;
  left: 5vw;
  width: 90vw;
  top: calc(var(--vh) * 2);
  box-sizing: border-box;
  font-size: var(--font-h3);
}

.subContext {
  height: calc(var(--vh) * 96);
}

.subContextRename,
.subContextDelete,
.subContextRemove,
.subContextImport,
.subContextImportSession,
.subContextSessionSettings,
.subContextLimit {
  height: auto;
  padding-bottom: calc(var(--vh) * 2);
  border: solid 2px var(--main-blue);
}

.subContextDelete .button,
.subContextRemove .button,
.subContextImport .button,
.subContextImportSession .button {
  width: 40%;
  margin: 0.4em 5% 0px;
  float: left;
  height: var(--vh5);
}

#sessionLimit {
  width: max(80%, 300px);
  margin: 0 auto;
}

#limitContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 50% 1fr 4rem;
  color: var(--main-black);
  align-items: center;
}

#sessionLimit label {
  padding-right: 10px;
  text-align: right;
  grid-area: 1/1/2/3;
}

input#selectLimit {
  width: 2em;
  height: 2em;
  text-align: center;
}

.subContextLimit .button {
  border: none;
  width: min(95%, 11rem);
  margin-top: 10px;
  justify-self: center;
}

.subContextLimit .button.redBtn {
  grid-area: 2/1/3/2;
}

.subContextLimit .button[type="submit"] {
  grid-area: 2/2/3/4;
}

#limitDisplay {
  grid-area: 6/8/7/11;
  font-size: var(--font-p);
  display: inline;
  width: 100%;
  text-align: center;
}

#limitCurrent:after {
  content: "/";
}

#limitMax:after {
  content: " games";
}

#importOverwrite,
#importRename {
  width: 180px;
  margin: 0.4em 4.6% 0px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

.subContextContainer hr {
  margin: var(--vh);
}

.subContextTitle {
  line-height: 30px;
  margin-right: 30px;
  word-break: break-word;
}

.subContext li {
  list-style: none;
  cursor: pointer;
}

#contextShadow {
  backdrop-filter: blur(3px);
  width: 100vw;
  height: var(--vh100);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.listTitle {
  position: fixed;
  transform: translateX(200vw);
  transition: transform 0.5s;
  width: 100%;
  left: 0px;
  top: var(--vh15);
  height: var(--vh15);
  text-align: center;
  background-color: var(--main-blue);
  z-index: 1;
  color: var(--main-white);
  font-size: var(--font-h2);
}

.listTitle ion-icon {
  position: absolute;
  top: calc(var(--vh) * 0.5);
  left: 7vw;
  cursor: pointer;
}

.listTitleText {
  cursor: pointer;
  width: 100%;
  float: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listContents {
  transition: transform 0.5s;
  transform: translateX(200vh);
  top: var(--vh20);
  position: absolute;
  width: 100vw;
  left: 0vw;
  height: var(--vh75);
  overflow-y: auto;
  backdrop-filter: blur(3px);
  padding: calc(var(--vh) * 3);
  background: var(--main-blue);
  z-index: 3;
  box-sizing: border-box;
  font-size: var(--font-h3);
  color: var(--main-white);
  list-style: none;
}

.displayGameContainer {
  width: 100%;
  grid-template-columns: 40px 1fr 50px;
  max-width: 100vw;
  grid-template-rows: var(--vh10);
  display: grid;
}

.displayGameContainer li {
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  width: 100%;
  text-overflow: ellipsis;
}

.displayGameContainer ion-icon {
  justify-self: end;
  cursor: pointer;
}

.sprite {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 30px;
  width: 30px;
  border-radius: 999px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.flipped {
  transform: rotateY(180deg);
}

.spriteCell {
  height: 100%;
  width: 100%;
}

.spriteChecked {
  transform: rotateY(-180deg);
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  font-size: 25px;
}
.spriteUnchecked {
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

.listContents.slideUp.bulkShowing {
  transform: translateX(0px) translateY(calc(var(--vh) * 7));
}

.bulkSelect {
  width: 96vw;
  bottom: calc(var(--vh) * 73);
  height: calc(var(--vh, 1vh) * 7);
  background-color: var(--main-white);
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: 10vw 1fr 10vw 10vw 10vw 10vw;
  align-items: center;
  justify-items: end;
  padding: 0px 2vw;
}

.bulkSelect ion-icon {
  font-size: var(--font-5vh);
  cursor: pointer;
}

.bulkSelect ion-icon[name="square-outline"],
.bulkSelect ion-icon[name="checkbox-outline"] {
  justify-self: center;
}

.listContents li {
  cursor: pointer;
}

.listContents.slideUp,
.listTitle.slideUp,
.contextActions.slideUp,
#sessionsContainer.slideUp,
.slideUp {
  transform: translateX(0px);
}

#listBrowser {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--main-blue);
  padding: var(--vh5) 1rem;
  box-sizing: border-box;
  transition: all 0.5s;
  transform: translateY(100%);
}

#listBrowserList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 7rem;
  grid-row-gap: 1rem;
}

.listBrowserArrow {
  float: left;
}

.listBrowserName {
  font-size: var(--font-h3);
}

.listBrowserGames {
  padding-top: 10px;
  border-top: 2px solid var(--main-white);
  border-bottom: 2px solid var(--main-white);
}

.listBrowserName,
.listBrowserCode,
.listBrowserArrow {
  cursor: pointer;
}

/****************/
/*  Animations  */
/****************/

@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-2px, 0px);
  }
  40% {
    transform: translate(2px, 0px);
  }
  60% {
    transform: translate(-2px, 0px);
  }
  80% {
    transform: translate(2px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.shake {
  animation: shake 0.2s;
  animation-iteration-count: 2;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  position: fixed;
  top: calc(var(--vh10) - 25px);
  left: calc(10vw - 25px);
  z-index: 99;
}

.softBreak {
  display: none;
}

/*****************************/
/*    Mobile Media Queries   */
/*****************************/
@media (max-width: 400px) {
  #codeButtons ion-icon {
    font-size: var(--vh5);
  }
  .softBreak#boardgame {
    display: block;
  }
}
@media (max-width: 575px) {
  .softBreak#woodland {
    display: block;
  }
}

@media (max-width: 351px) {
  .menu {
    width: 100vw;
    font-size: min(calc(3 * (1vw + 1vh)), 6.5vw);
  }
  .clickCatcher {
    display: none;
  }
  .menu.left {
    transform: translateX(-100vw);
  }
}

@media (max-width: 650px) {
  #backHome {
    display: none;
  }
}

/*****************************/
/*        Landscape CSS      */
/*****************************/
@media (max-height: 450px) and (min-width: 450px) {
  .menu {
    width: 250px;
  }
  .clickCatcher {
    width: calc(100vw - 250px);
  }
  .menu.left {
    transform: translateX(-250px);
  }
}

/*****************************/
/*        Desktop CSS        */
/*****************************/
@media (min-width: 1000px) {
  :root {
    /*--main-blue: #07f;*/

    --font-base: 20px;
    --font-h1: min(var(--vh5), 2.5rem);
    --font-h2: 1.6rem;
    --font-h3: 1.2rem;
    --font-h4: 1rem;
    --font-p: 1rem;
    --font-b: 1.2rem;
    --font-vw-med: min(20px, 5vw);
    --font-5vh: var(--vh4);
  }
  .desktopAlwaysOff {
    display: none !important;
  }
  .menu {
    width: 250px;
    transform: translateX(0vh);
  }
  .menu.off {
    display: block !important;
  }
  #menuIcon {
    display: none;
  }
  #menuClose {
    display: none;
  }
  .menuHomeIcon {
    left: 25px;
  }
  #faqContainer,
  #aboutContainer,
  #premiumContainer {
    width: 92%;
    margin-left: 4%;
    left: 0px;
    padding: 0px;
  }
  #copiedAlert,
  #loginAlert,
  .tempAlert {
    width: 500px;
    left: calc(50% + 125px);
    transform: translateX(-50%);
  }
  #listIcon {
    left: calc(50% - 250px);
  }
  .itemContainer ul {
    padding-left: 25px;
  }
  .view {
    left: calc(calc(100% - 1000px) / 2);
    width: 750px;
    margin-left: 250px;
    grid-template-columns: repeat(10, 10%);
  }
  .button {
    max-width: 250px;
    margin: 0 auto;
    font-size: var(--font-b);
  }
  .bottomBtn {
    left: 50%;
    transform: translateX(-50%);
  }
  .menu.left {
    transform: translateX(0vh);
  }

  .textInput {
    font-size: var(--font-p);
  }

  #gamesContainer > li,
  #gamesContainer .listGames {
    padding-left: 0px;
    grid-template-columns: 340px 40px;
  }

  #selectLists .listGames .gameName,
  #gamesContainer .listGames li {
    padding-left: 20px;
  }

  #sessionsContainer li {
    padding-left: 10px;
  }

  #gamesContainer li {
    font-size: var(--font-h3);
  }

  #sessionsContainer li {
    font-size: var(--font-h3);
  }

  #codeButtons {
    height: 100%;
    width: 250px;
    margin: 0 auto;
  }
  #codeButtons > div {
    padding: calc(var(--vh) * 2.5);
  }
  #codeButtons ion-icon {
    font-size: var(--vh5);
  }
  #selectLists li {
    grid-template-columns: 1fr 30px 70px;
  }

  #editGameList li {
    grid-template-columns: 1fr 1px 70px;
  }

  #addGroupGamesContainer {
    width: 60%;
  }

  .displayGameContainer {
    grid-template-rows: var(--vh5);
    max-width: 400px;
  }

  .itemContainer {
    font-size: var(--font-h3);
  }

  .itemContainer ul li {
    margin-bottom: 0.25em;
  }

  .pageTitle#playTitle {
    font-size: var(--font-h1);
  }

  /*.pageTitle {
    font-size: var(--h1);
    /*min(2.4vw, 4vh, 35px)
  }*/

  #playInfo {
    grid-area: 3/2/5/10;
  }

  #playContainer {
    grid-area: 5/2/13/10;
  }

  .pop {
    transform: translateY(0);
    transform: translateX(calc(var(--vh100) * -1));
    width: 401px;
    left: 249px;
  }

  .preloader {
    left: unset;
    right: 50px;
  }

  .showMenuItem {
    transform: translateX(0vh);
  }

  .listTitle ion-icon {
    left: 10px;
  }

  .contextActions {
    padding: 10px 10px 31px 10px;
    width: 380px;
    left: 260px;
    font-size: var(--font-h3);
    top: 4%;
    height: fit-content;
    border-radius: 15px;
  }

  .subContextContainer {
    z-index: 100;
  }

  .subContext,
  .subContextRename,
  .subContextDelete,
  .subContextRemove,
  .subContextAccount,
  .subContextImport,
  .subContextImportSession {
    left: 10px;
    top: 4%;
    width: 630px;
    padding: 15px;
    height: fit-content;
    font-size: var(--font-h2);
  }

  .subContextDelete .button,
  .subContextRemove .button,
  .subContextImport .button,
  .subContextImportSession .button {
    padding: 6px 0px;
  }

  ion-icon#addListButton {
    z-index: 250;
    width: 110px;
    z-index: 201;
    margin-left: 0px;
    left: 145px;
  }

  .listContents {
    padding: 5px;
    width: 400px;
    height: var(--vh80);
  }

  #gamesAdderContainer {
    height: var(--vh20);
  }

  .gamesAdder div {
    height: 75px;
  }

  .gamesAdder {
    font-size: 25px;
    width: 100px;
    left: 0px;
    padding: 20px 67px 0px;
    z-index: 2;
  }

  .gamesAdder:nth-child(1) {
    left: 167px;
  }

  #menuAddListContainer,
  #menuAddGamesContainer {
    width: 80%;
    left: 10%;
    z-index: 2;
  }

  #backArrow ion-icon {
    left: 255px;
    padding-right: 100px;
    height: var(--vh10);
    top: var(--vh5);
  }

  #backArrow ion-icon:after {
    content: "Back";
    position: absolute;
    font-size: 32px;
    height: 38px;
    width: 168px;
    color: var(--main-blue);
    left: 40px;
    top: var(--vh5);
    transform: translateY(-50%);
  }

  #backHome {
    transform: translate(0px, 0px);
  }

  #backHome ion-icon:after {
    content: "Home";
    position: absolute;
    font-size: 32px;
    height: 38px;
    width: 168px;
    color: var(--main-blue);
    left: 40px;
    top: var(--vh5);
    transform: translateY(-50%);
  }

  #backHome ion-icon:first-child {
    display: none;
  }

  .bggImport {
    width: 651px;
  }

  .bggImportTitle {
    font-size: 30px;
    width: 80%;
    left: 10%;
  }

  #bggImportList,
  #bggSelectAll {
    width: 50%;
    left: 25%;
  }

  .bggListName {
    position: absolute;
    bottom: var(--vh15);
    width: 250px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }

  button#importBGG {
    left: 50%;
    transform: translateX(-50%);
  }

  button.bggFilterButton {
    position: absolute;
    top: calc(var(--vh) * 11);
    font-size: 18px;
    left: 50%;
    border: 2px solid white;
    height: calc(var(--vh, 1vh) * 4);
    transform: translateX(-50%);
    width: 125px;
  }

  .bggFilters {
    width: 90%;
    left: 5%;
  }

  #postSelectContainer,
  #postVoteContainer {
    font-size: var(--font-h3);
  }

  .bulkSelect {
    width: calc(100% - 11px);
    grid-template-columns: var(--vh4) 1fr var(--vh4) var(--vh4) var(--vh4) var(
        --vh4
      );
    justify-items: center;
    padding: 0px 5px;
  }

  #sessionsView .bulkSelect {
    grid-template-columns: calc(var(--vh) * 7) 1fr calc(var(--vh) * 7) calc(
        var(--vh) * 7
      );
  }

  #currentGames {
    width: 400px;
    height: calc(var(--vh) * 98);
    left: 260px;
    top: var(--vh);
    font-size: calc(var(--vh, 1vh) * 2.5);
  }

  #curGamesClose {
    top: calc(var(--vh) * 2);
    left: 615px;
  }

  .voteLabel label {
    max-width: calc(500px);
  }

  #voteInfo {
    font-size: var(--font-p);
  }
}
