div#menu {
  width: 100vw;
  height: 100vh;
  background-color: #6492c7;
  text-align: center;
}

#menu button {
  border: 3px solid white;
  border-radius: 12px;
  background-color: #6492c7;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 2;
  font-size: 30px;
  top: 20%;
  clear: both;
  margin-bottom: 40px;
  padding: 9px 5px 5px 5px;
}

div#printContent {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.printTitle {
  font-size: 75px;
  margin-top: 0.5in;
  text-align: center;
}

div#printTemplate {
  text-align: center;
  line-height: 0.9;
  font-size: 50px;
  margin-top: 20px;
}

.printSubTitle {
  font-size: 23px;
  text-align: center;
}

div#printQR {
  text-align: center;
}

#qrDisplay {
  width: 350px;
  height: 350px;
}

div#printURL {
  text-align: center;
  font-size: 40px;
  margin-top: -25px;
}

.printInstructions {
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
}

#bottomImgContainer {
  width: 100%;
  display: grid;
}

img#bottomImg {
  height: 1.5in;
  bottom: 0.1in;
  left: 2.5in;
  position: absolute;
}

img#mainImg {
  width: 100px;
  height: 100px;
  top: 0.5in;
  right: 0.5in;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media print {
  #menu {
    display: none;
  }
  body {
    height: 11in;
    width: 8.5in;
  }
  div#printContent {
    display: block;
  }
}

@-moz-document url-prefix() {
  div#menu {
    width: 100vw;
    height: 100vh;
    background-color: #6492c7;
    text-align: center;
  }

  #menu button {
    border: 3px solid white;
    border-radius: 12px;
    background-color: #6492c7;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 2;
    font-size: 30px;
    top: 20%;
    clear: both;
    margin-bottom: 40px;
    padding: 9px 5px 5px 5px;
  }

  div#printContent {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .printTitle {
    font-size: 0.6in;
    margin-top: 0.75in;
    text-align: center;
    margin-bottom: 0.1in;
  }

  div#printTemplate {
    text-align: center;
    font-size: 0.4in;
    line-height: 0.9;
    max-width: 7in;
    margin: 0.2in auto 0;
  }

  .printSubTitle {
    font-size: 23px;
    text-align: center;
  }

  div#printQR {
    text-align: center;
  }

  #qrDisplay {
    width: 3in;
    height: 3in;
  }

  div#printURL {
    text-align: center;
    font-size: 40px;
    margin-top: -25px;
  }

  .printInstructions {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
  }

  img#bottomImg {
    height: 225px;
    width: auto;
    left: 50%;
    bottom: 0.1in;
    position: absolute;
    transform: translateX(-50%);
  }

  img#mainImg {
    width: 100px;
    height: 100px;
    top: 0.5in;
    right: 0.5in;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @page {
    size: auto; /* auto is the initial value */
    margin: 0in; /* this affects the margin in the printer settings */
  }

  @media print {
    #menu {
      display: none;
    }
    body {
      height: 11in;
      width: 8.5in;
    }
    div#printContent {
      display: block;
    }
  }
}
