extends layout

block variables
  
  - var title = "The Tidy Squirrel"
  - var games = [['Pandemic',1], ['Betrayal at the House on the Hill',2], ['Machi Koro',3], ['Codenames',4],['Game5',5],['Game6',6],['Game7',7],['Game8',8],['Game9',9],['Game10',10],['Game11',11],['Game12',12],['Game13',13]]


block content
  #mainView.main
    #menuIcon
      svg(viewbox='0 0 100 80' width='5vh' height='5vh')
        rect(width='100' height='15' rx='8')
        rect(y='30' width='100' height='15' rx='8')
        rect(y='60' width='100' height='15' rx='8')
    #menu.off
      #menuClose.closeButton
        ion-icon(name='close-outline')
      #menuItems
        ul
          li
            ion-icon(name='help-circle-outline')
            | FAQ
          li
            ion-icon(name='library-outline')
            | Manage Games
          li
            ion-icon(name='person-circle-outline')
            | My Account
          li
            ion-icon(name='information-circle-outline')
            | About
          li
            ion-icon(name='star-outline')
            | Get Premium
          if user
            li
              ion-icon(name='log-out-outline')
              a(href="/users/logout") Logout
    #menuCatch.clickCatcher.off
    .login
      
      if user
        | Hello, #{user.profile.firstName} 
      else 
        a(href="/users/login") Login
    #homeView.view.off   
      .pageTitle The Tidy Squirrel 🐿️
      #joinButton.button.blueBtn Join
      #createButton.button.greyBtn Create
      #codeInputGroup.inputGroup.off
        #codeInputLabel.inputLabel Enter Code:
        #codeInput.textInputCont
          input.textInput(type='text')
          .textClear
        #codeSubmit.submitButton.button.blueBtn Submit
        #codeError.errorText.off Wrong code. Please try again.

    #selectView.view
      #selectTitle.pageTitle Select Games 🐿️
      #addGamesContainer
        #addGamesTitle Add Games
        #addGamesInput.textInputCont
          input.textInput(type='text')
          .textClear
      #gamesList
        each game in games
          li 
            div.gameName
              | #{game[0]}
            div.toggle
              label.switch
                input(type="checkbox" id=game[1])
                span.slider.round
      #gameSubmit.button.greenBtn
        Submit These Games

